@page "/customer/view/{id:guid}"

<PageTitle>ข้อมูลและสถานะลูกค้า</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView && IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/customerinfo.png" width="45" /></div>
						<div class="p-2"><p class="back_topic">ข้อมูลและสถานะลูกค้า</p></div>
						<div class="ms-auto p-2"><a @onclick=OnShowHistory class="btn btn-secondary mw_6r">ประวัติการแก้ไข</a></div>
					</div>
					<div class="row mt-3 mh_40r">
						<div class="col-12 tabs_elm">
							<Tabs EnableFadeEffect="true" NavStyle="NavStyle.Pills">
								<Tab Title="ข้อมูลลูกค้า" IsActive="true">
									<Content>
										<div class="row mt-2">
											<div class="col-12 col-xl-@(formModel.IsShowRePurpose ? "9": "10")"></div>
											@if (formModel.IsShowRePurpose)
											{
												<div class="col-12 col-xl-auto text-end">
													<a @onclick='(()=> OnShowConfirmRePurpose(formModel.Id.ToString(),formModel.CompanyName))' class="btn btn-success mw_6r">re-purpose</a>
												</div>
											}
											<div class="col-12 col-xl-auto text-end">
												<a class="btn btn-primary mw_6r" href="/customer/update/@formModel.Customer?.Id">แก้ไขข้อมูล</a>
											</div>
										</div>
										@if (formModel.StatusSaleId == StatusSaleModel.WaitAPIPHOENIX)
										{
											<div class="row">
												@* <div class="col-12 col-xl-4 text-end">
										<a class="btn btn-outline-success mw_6r" @onclick=UpdateStatusWaitResults>ผ่านการวิเคราะห์สินเชื่อ(PHOENIX) -> รอบันทึกผลลัพธ์</a>
										</div> *@
											</div>
										}
										@if (formModel != null)
										{
											<PartialCustomerInfo formModel="formModel" />
										}
									</Content>
								</Tab>
								<Tab Title="ข้อมูลผู้ติดต่อ" OnClick="ShowTabContactInfo">
									<Content>
										<PartialContactInfo formModel="formModel.Sale_Contact_Infos" />
									</Content>
								</Tab>
								<Tab Title="เอกสารตาม checklist" OnClick="ShowTabDocument">
									<Content>
										<PartialDocument formModel="formModel" />
									</Content>
								</Tab>
								<Tab Title="ประวัติการติดต่อ" OnClick="ShowTabContactHistory">
									<Content>
										<PartialContactHistory formModel="formModel.Sale_Contact_Histories" />
									</Content>
								</Tab>
								<Tab Title="คู่ค้า" OnClick="ShowTabPartneInfo">
									<Content>
										<PartialPartnerInfo formModel="formModel.Sale_Partners" />
									</Content>
								</Tab>
							</Tabs>
						</div>
					</div>
					<div class="my-4 text-center">
						<div class="d-flex bd-highlight align-items-center justify-content-center">
							<div class="p-2 bd-highlight">
								@if (formModel != null)
								{
									<Button @onclick=Cancel Color="ButtonColor.Secondary" Type="ButtonType.Button" Class="mw_6r">
										กลับ
									</Button>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<Modal @ref="modalHistory"
		   Title="ประวัติการแก้ไข"
		   IsVerticallyCentered="true"
		   HeaderCssClass="headermodal_default">
		<BodyTemplate>
			<div class="row mb-4 text-center">
				<div class="col-12">
					<div class="table-responsive border-top">
						<table class="table table_list">
							<thead>
								<tr>
									<th class="text-center">ผู้แก้ไข</th>
									<th class="text-center">วันที่และเวลา</th>
								</tr>
							</thead>
							<tbody>
								@if (ItemsHistory == null)
								{
									<tr class="text-center align-middle">
										<td colspan="100">
											<Spinner Class="my-2" Type="SpinnerType.Dots" Color="SpinnerColor.Secondary" />
										</td>
									</tr>
								}
								else if (ItemsHistory.Count == 0)
								{
									<tr class="text-center align-middle">
										<td colspan="100">
											<em>ไม่พบข้อมูล</em>
										</td>
									</tr>
								}
								else
								{
									foreach (var item in ItemsHistory)
									{
										<tr>
											<td class="text-center">@GeneralUtils.EmptyTo(item.CreateByFullName)</td>
											<td class="text-center">@GeneralUtils.DateToThString(item.CreateDate) @GeneralUtils.DateToTimeString(item.CreateDate)</td>
										</tr>
									}
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row my-3 text-center">
				<div class="d-flex justify-content-evenly align-items-center">
					<div class="p-2">
						<Button Class="mw_6r" Color="ButtonColor.Secondary" @onclick="OnHideHistory">ปิด</Button>
					</div>
				</div>
			</div>
		</BodyTemplate>
	</Modal>

	<ModalConfirm @ref="modalConfirmRePurpose" CallbackConfirm="ConfirmRePurpose" _errorMessage="@_errorMessage" />
}
else
{
	<NotPermissionPage />
}

