@page "/customer/uploadfile"

<PageTitle>UploadFile</PageTitle>

<MessageError errorMessage="@_errorMessage" />

<style>
	@@media (min-width: 1200px) {
		.modal-xl {
			--bs-modal-width: 1340px;
		}
	}
</style>

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/customerinfo.png" width="45" /></div>
						<div class="p-2">
							<p class="back_topic">เพิ่มรายการลูกค้า</p>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="row mb-3">
								<div class="col-12 col-sm-1"></div>
								<div class="col-12 col-sm-10">
									<div class=" dropzone @dropClass rounded">
										<div class="drag-image h_10r mb-2">
											@if (customerImportList != null && customerImportList.Count > 0 && _fileName != null)
											{
												<p>@_fileName</p>
											}
											else
											{
												<p>ลากไฟล์ประเภท CSV หรือ</p>
												<Button Style="background-color: #1378D5;color:white;"><i class="fa-solid fa-upload"></i> นำเข้าไฟล์</Button>
											}
										</div>
										<InputFile @key=@(_inputFileId) OnChange="@OnChooseFileTemplateFCC"
												   accept=".xlsx, .xls, .csv"
												   @ondragenter="HandleDragEnter"
												   @ondragleave="HandleDragLeave">Browse File</InputFile>
									</div>
								</div>
								<div class="col-12 col-sm-1"></div>
							</div>
						</div>
					</div>

					<div class="row mt-5">
						<div class="col-12">
							<div class="table-responsive">
								<table class="table table_list table-bordered text-nowrap">
									<thead class="table-primary">
										<tr>
											<th class="text-center">ตรวจสอบ</th>
											@foreach (var item in header_list_key)
											{
												<th class="text-center">@item</th>
											}
										</tr>
									</thead>
									<tbody>
										@if (customerImportList == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (customerImportList.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											foreach (var item in customerImportList)
											{
												<tr style="@(item.IsValidate == false ? "background-color: #fff5f6;" : "")">
													<td class="">
														@if (item.IsValidate == true)
														{
															<p class="text-primary text-center">ผ่าน</p>
														}
														else
														{
															if (item.ValidateError?.Count > 0)
															{
																<ul class="text-danger mb-0">
																	@foreach (var item_error in item.ValidateError)
																	{
																		<li>@((MarkupString)(item_error ?? string.Empty))</li>
																	}
																</ul>
															}
															if (item.IsSelectVersion)
															{
																<Button @onclick="() => OnShowVersion(item.Id)" Color="ButtonColor.Primary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r ms-3">
																	เลือกจัดเก็บ
																</Button>
															}
															if (item.IsKeep)
															{
																<span class="ms-2"><i class="fa-solid fa-circle-check text-primary"></i> จัดเก็บ</span>
															}
														}
													</td>
													<td class="text-center">@GeneralUtils.DateToEnStr(item.DateContact)</td>
													<td class="">@item.Master_ContactChannelName</td>
													<td class="text-center">@item.Branch_RegionName</td>
													<td class="text-center">@item.ProvincialOffice</td>
													<td class="text-center">@item.EmployeeName</td>
													<td class="text-center">@item.EmployeeId</td>
													<td class="text-center">@item.ContactName</td>
													<td class="text-center">@item.ContactTel</td>
													<td class="text-center">@item.JuristicPersonRegNumber</td>
													<td class="text-center">@item.CIF</td>
													<td class="text-center">@item.CompanyName</td>
													<td class="text-center">@item.HouseNo</td>
													<td class="text-center">@item.VillageNo</td>
													<td class="text-center">@item.Road_Soi_Village</td>
													<td class="text-center">@item.TambolName</td>
													<td class="text-center">@item.AmphurName</td>
													<td class="text-center">@item.ProvinceName</td>
													<td class="text-center">@item.ZipCode</td>
													@if (item.Customer_Committees?.Count > 0)
													{
														foreach (var item_com in item.Customer_Committees)
														{
															<td class="text-center">@item_com.Name</td>
														}
													}
													<td class="text-center">@GeneralUtils.DateToEnStr(item.ShareholderMeetDay)</td>
													@if (item.Customer_Shareholders?.Count > 0)
													{
														foreach (var item_sha in item.Customer_Shareholders)
														{
															<td class="text-center">@item_sha.Name</td>
															<td class="text-center">@item_sha.Nationality</td>
															<td class="text-center">@item_sha.Proportion</td>
															<td class="text-center">@item_sha.NumberShareholder</td>
															<td class="text-center">@item_sha.TotalShareValue?.ToString(GeneralTxt.FormatDecimal2)</td>
														}
													}
													<td class="text-center">@item.Master_BusinessTypeName</td>
													<td class="text-center">@item.RegisteredCapital</td>
													<td class="text-center">@item.Master_BusinessSizeName</td>
													<td class="text-center">@item.Master_TSICName</td>
													@* <td class="text-center">@item.Master_ISICCodeName</td> *@
													@* <td class="text-center">@item.Master_YieldName</td> *@
													@* <td class="text-center">@item.Master_ChainName</td> *@
													@* <td class="text-center">@item.Master_LoanTypeName</td> *@
													@* <td class="text-center">@item.CompanyEmail</td>
										<td class="text-center">@item.CompanyTel</td>
										<td class="text-center">@item.ParentCompanyGroup</td> *@
													<td class="text-center">@item.CreditScore</td>
													<td class="text-center">@item.FiscalYear</td>
													<td class="text-center">@GeneralUtils.DateToEnStr(item.StatementDate)</td>
													<td class="text-center">@item.TradeAccReceivable?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.TradeAccRecProceedsNet?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.Inventories?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.LoansShort?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.TotalCurrentAssets?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.LoansLong?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.LandBuildingEquipment?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.TotalNotCurrentAssets?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.AssetsTotal?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.TradeAccPay?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.TradeAccPayLoansShot?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.TradeAccPayTotalCurrentLia?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.TradeAccPayLoansLong?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.TradeAccPayTotalNotCurrentLia?.ToString(GeneralTxt.FormatDecimal2)</td>
													@* <td class="text-center">@item.TradeAccPayForLoansShot?.ToString(GeneralTxt.FormatDecimal2)</td> *@
													<td class="text-center">@item.TradeAccPayTotalLiabilitie?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.RegisterCapitalOrdinary?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.RegisterCapitalPaid?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.ProfitLossAccumulate?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.TotalShareholders?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.TotalLiabilitieShareholders?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.TotalIncome?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.CostSales?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.GrossProfit?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.OperatingExpenses?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.ProfitLossBeforeDepExp?.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">@item.ProfitLossBeforeInterestTax?.ToString(GeneralTxt.FormatDecimal2)</td>
													@* <td class="text-center">@item.ProfitLossBeforeIncomeTaxExpense?.ToString(GeneralTxt.FormatDecimal2)</td> *@
													<td class="text-center">@item.NetProfitLoss?.ToString(GeneralTxt.FormatDecimal2)</td>
													@* <td class="text-center">@item.InterestNote</td> *@
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="my-4 text-center">
						<div class="d-flex bd-highlight align-items-center justify-content-center">
							<div class="p-2 bd-highlight">
								<Button @onclick=Cancel Color="ButtonColor.Secondary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
									กลับ
								</Button>
							</div>
							@if (customerImportList?.Where(x => x.IsValidate == true || x.IsKeep).Count() > 0)
							{
								<div class="p-2 bd-highlight">
									<Button Color="ButtonColor.Primary" @onclick=Save Type="ButtonType.Submit" Disabled="@isLoading" Class="mw_6r">
										@if (isLoading)
										{
											<span><i class="fa-solid fa-circle-notch fa-spin text-white-50 fa-lg"></i></span>
										}
										ยืนยัน
									</Button>
								</div>
							}
						</div>
						<small class="text-secondary">*ระบบจะนำเข้าเฉพาะรายการที่ตรวจสอบผ่าน และข้อมูลที่มีการเลือกจัดเก็บเวอร์ชั่นแล้วเท่านั้น</small>
					</div>
				</div>
			</div>
		</div>
	</div>

	<Modal @ref="modalResult"
		   Title=""
		   IsVerticallyCentered="true"
		   OnHidden="OnHiddenResult"
		   HeaderCssClass="headermodal_default">
		<BodyTemplate>
			<div class="row mb-4 text-center">
				<i class="fa-solid fa-circle-check fs_5r text-primary"></i>
			</div>
			<div class="row mb-4 text-center">
				<h4 class="fw-bold mb-3">ผลการบันทึก ทั้งหมด @resultImport.Count()</h4>
				<h5 class="text-success">สำเร็จ @resultImport.Count(x => x.Success)</h5>
				<h5 class="text-danger ms-2">ไม่สำเร็จ  @resultImport.Count(x => !x.Success)</h5>
			</div>
			<div class="row my-3 text-center">
				<div class="d-flex justify-content-evenly align-items-center">
					<div class="p-2">
						<Button Class="mw_6r" Color="ButtonColor.Primary" @onclick="OnHideResult">เสร็จสิ้น</Button>
					</div>
				</div>
			</div>
		</BodyTemplate>
	</Modal>

	<Modal @ref="modalVersion"
		   Size="ModalSize.ExtraLarge"
		   Title=""
		   IsVerticallyCentered="true"
		   OnHidden="OnHiddenVersion"
		   HeaderCssClass="headermodal_default">
		<BodyTemplate>
			<div class="row mb-4 text-center">
				<h5 class="fw-bold mb-3">เลือกจัดเก็บเวอร์ชันข้อมูล</h5>
			</div>
			<div class="row mb-4 fs_0_75r">
				<div class="col-12 col-lg-6">
					<div class="overflow-y-auto overflow-x-hidden border p-2" style="max-height: 400px;">
						<PartialCustomerInfoVersion formModel="saleCurrentModel" />
					</div>
					<div class="mt-2 text-secondary">
						<p>วันที่นำเข้า : @GeneralUtils.DateToEnStr(saleCurrentModel.CreateDate)</p>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="overflow-y-auto overflow-x-hidden border p-2" style="max-height: 400px;">
						<PartialCustomerInfoVersion formModel="saleImportModel" />
					</div>
					<div class="mt-2 text-secondary">
						<p>วันที่นำเข้า : @GeneralUtils.DateToEnStr(DateTime.Now)</p>
					</div>
				</div>
			</div>
			<div class="d-flex bd-highlight align-items-center justify-content-end">
				<div class="p-2 flex-grow-1">
					<Button @onclick=OnHideVersion Color="ButtonColor.Secondary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
						ปิดหน้าต่าง
					</Button>
				</div>
				<div class="p-2">
					<Button @onclick="()=> KeepCustomer(saleImportModel.Customer,false)" Color="ButtonColor.Danger" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
						@if (isLoading)
						{
							<span><i class="fa-solid fa-circle-notch fa-spin text-white fa-lg"></i></span>
						}
						ไม่จัดเก็บ
					</Button>
				</div>
				<div class="p-2">
					<Button @onclick="()=> KeepCustomer(saleImportModel.Customer,true)" Color="ButtonColor.Primary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
						@if (isLoading)
						{
							<span><i class="fa-solid fa-circle-notch fa-spin text-white fa-lg"></i></span>
						}
						จัดเก็บ
					</Button>
				</div>
			</div>
		</BodyTemplate>
	</Modal>
}
else
{
	<NotPermissionPage />
}

