@if (formModel != null && formModel.Count > 0)
{
	<div class="container">
		<div class="row my-3">
			<div class="col-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">ชื่อคู่ค้า</th>
							<th scope="col">ประเภทธุรกิจ</th>
							<th scope="col">ผลผลิตหลัก</th>
							<th scope="col">ห่วงโซ่คุณค่า</th>
							<th scope="col">ขนาดธุรกิจ</th>
							<th scope="col">เบอร์โทร</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in formModel)
						{
							<tr>
								<td>@GeneralUtils.EmptyTo(item.FullName)</td>
								<td>@GeneralUtils.EmptyTo(item.Master_BusinessTypeName)</td>
								<td>@GeneralUtils.EmptyTo(item.Master_YieldName)</td>
								<td>@GeneralUtils.EmptyTo(item.Master_ChainName)</td>
								<td>@GeneralUtils.EmptyTo(item.Master_BusinessSizeName)</td>
								<td>@GeneralUtils.EmptyTo(item.Tel)</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}
else
{
	<div class="d-flex align-items-center justify-content-center mh_10r">
		<p class="my-3 text-black-50">-ไม่พบข้อมูล-</p>
	</div>
}
@code {
	[Parameter]
	public List<Sale_PartnerCustom>? formModel { get; set; }
}
