@if (formModel != null && formModel.Customer != null)
{
	<div class="row my-3 d-flex justify-content-center">
		<div class="col-12">
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end fw-bold">สถานะ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label fw-bold">
						@formModel.StatusSaleName
						@if (!String.IsNullOrEmpty(formModel.StatusDescription))
						{
							<TooltipCustom Text="@formModel.StatusDescription">
								<i class="fa-solid fa-circle-question text-primary"></i>
							</TooltipCustom>
						}
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">วันที่เข้ามาติดต่อ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.DateToThString(formModel.Customer.DateContact)
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ช่องทางการติดต่อ :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.Master_ContactChannelName)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">สาขา : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.BranchName)
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">สนจ. :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.ProvincialOffice)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ชื่อพนักงาน : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.EmployeeName)
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">รหัสพนักงาน. :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.EmployeeId)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ชื่อลูกค้าที่ติดต่อ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.ContactName)
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">โทรศัพท์ :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.ContactTel)
					</label>
				</div>
			</div>
		</div>
	</div>

	@* ข้อมูลกิจการ *@
	<div class="row my-3 d-flex justify-content-center">
		<div class="col-12">
			<div class="row">
				<div class="col-12 col-xl-6">
					<div class="row">
						<label class="col-sm-4 col-form-label text-lg-end fw-bold text-decoration-underline">ข้อมูลกิจการ</label>
						<div class="col-sm-7"></div>
					</div>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ชื่อกิจการ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.CompanyName)
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">เลขทะเบียนนิติบุคคล :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.JuristicPersonRegNumber)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ประเภทกิจการ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.Master_BusinessTypeName)
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ขนาดธุรกิจ :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.Master_BusinessSizeName)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ISIC Code : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.Master_ISICCodeName)
					</label>
				</div>
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ประเภทธุรกิจ(TSIC) : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.Master_TSICName)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ผลผลิตหลัก : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.Master_YieldName)
					</label>
				</div>
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ห่วงโซ่คุณค่า : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.Master_ChainName)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ประเภทสินเชื่อ :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.Master_LoanTypeName)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">อีเมล : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.CompanyEmail)
					</label>
				</div>
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">โทรศัพท์ :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.CompanyTel)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">กลุ่มบริษัทแม่ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.ParentCompanyGroup)
					</label>
				</div>
			</div>
		</div>
	</div>
	@* ที่ตั้งกิจการ *@
	<div class="row my-3">
		<div class="col-12">
			<div class="row">
				<div class="col-12 col-xl-6">
					<div class="row">
						<label class="col-sm-4 col-form-label text-lg-end fw-bold text-decoration-underline">ที่ตั้งกิจการ</label>
						<div class="col-sm-7"></div>
					</div>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">บ้านเลขที่ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.HouseNo)
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">หมู่ที่ :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.VillageNo)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">จังหวัด : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.ProvinceName)
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">เขต/อำเภอ :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.AmphurName)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">แขวง/ตำบล : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TambolName)
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">รหัสไปรษณีย์ :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.ZipCode)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">อีเมล : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.CompanyEmail)
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">โทรศัพท์ :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.CompanyTel)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">กลุ่มบริษัทแม่ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.ParentCompanyGroup)
					</label>
				</div>
			</div>
		</div>
	</div>
	@* รายชื่อกรรมการ *@
	<div class="row my-3">
		<div class="col-12">
			<div class="row">
				<div class="col-12 col-xl-6">
					<div class="row">
						<label class="col-sm-4 col-form-label text-lg-end fw-bold text-decoration-underline">รายชื่อกรรมการ</label>
						<div class="col-sm-7"></div>
					</div>
				</div>
			</div>
			@if (formModel.Customer.Customer_Committees != null && formModel.Customer.Customer_Committees.Count > 0)
			{
				int index = 1;
				foreach (var item in formModel.Customer.Customer_Committees)
				{
					Guid ID = item.Id;
					<div class="form-group row mb-1">
						<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ชื่อกรรมการ คนที่ @index </label>
						<div class="col-6 col-md-7 col-xl-3">
							<label class="col-form-label">
								@item.Name
							</label>
						</div>
					</div>
					index++;
				}
			}
			else
			{
				<div class="form-group row mb-1">
					<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end"></label>
					<div class="col-6 col-md-7 col-xl-3">
						<label class="col-form-label text-black-50">
							ไม่พบข้อมูล
						</label>
					</div>
				</div>
			}
		</div>
	</div>
	@* รายขื่อผู้ถือหุ้น *@
	<div class="row my-3">
		<div class="col-12">
			<div class="row">
				<div class="col-12 col-xl-6">
					<div class="row">
						<label class="col-sm-4 col-form-label text-lg-end fw-bold text-decoration-underline">รายขื่อผู้ถือหุ้น</label>
						<div class="col-sm-7"></div>
					</div>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">วันประชุมผู้ถือหุ้น : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.getFullThaiShot(formModel.Customer.ShareholderMeetDay)
					</label>
				</div>
			</div>
			@if (formModel.Customer.Customer_Shareholders != null && formModel.Customer.Customer_Shareholders.Count > 0)
			{
				int index = 1;
				foreach (var item in formModel.Customer.Customer_Shareholders)
				{
					Guid ID = item.Id;
					<div class="form-group row mb-1  text-decoration-underline">
						<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ผู้ถือหุ้น คนที่ @index </label>
					</div>
					<div class="form-group row mb-1">
						<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ชื่อผู้ถือหุ้น : </label>
						<div class="col-6 col-md-7 col-xl-3">
							<label class="col-form-label">
								@GeneralUtils.EmptyTo(item.Name)
							</label>
						</div>
						<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">สัญชาติ :</label>
						<div class="col-6 col-md-7 col-xl-3">
							<label class="col-form-label">
								@GeneralUtils.EmptyTo(item.Nationality)
							</label>
						</div>
					</div>
					<div class="form-group row mb-1">
						<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">สัดส่วนการถือหุ้น : </label>
						<div class="col-6 col-md-7 col-xl-3">
							<label class="col-form-label">
								@GeneralUtils.EmptyTo(item.Proportion)
							</label>
						</div>
						<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">จำนวนหุ้นที่ถือ :</label>
						<div class="col-6 col-md-7 col-xl-3">
							<label class="col-form-label">
								@GeneralUtils.EmptyTo(item.NumberShareholder)
							</label>
						</div>
					</div>
					<div class="form-group row mb-1">
						<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">มูลค่าหุ้นทั้งหมด : </label>
						<div class="col-6 col-md-7 col-xl-3">
							<label class="col-form-label">
								@item.TotalShareValue?.ToString(GeneralTxt.FormatDecimal2)
							</label>
						</div>
					</div>
					index++;
				}
			}
			else
			{
				<div class="form-group row mb-1">
					<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end"></label>
					<div class="col-6 col-md-7 col-xl-3">
						<label class="col-form-label text-black-50">
							ไม่พบข้อมูล
						</label>
					</div>
				</div>
			}
		</div>
	</div>
	@* ข้อมูลทางการเงิน *@
	<div class="row my-3">
		<div class="col-12">
			<div class="row">
				<div class="col-12 col-xl-6">
					<div class="row">
						<label class="col-sm-4 col-form-label text-lg-end fw-bold text-decoration-underline">ข้อมูลทางการเงิน</label>
						<div class="col-sm-7"></div>
					</div>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ทุนจดทะเบียน : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.RegisteredCapital)
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">Credit Score :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.CreditScore)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ปีงบการเงิน : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.FiscalYear)
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">วันเดือนปีงบการเงิน :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.getFullThaiShot(formModel.Customer.StatementDate)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ลูกหนี้การค้า : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TradeAccReceivable)
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ลูกหนี้การค้าและตั่วเงินรับ-สุทธิ :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TradeAccRecProceedsNet)
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">สินค้าคงเหลือ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.Inventories?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">เงินให้กู้ยืมระยะสั้น :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.LoansShort?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">รวมสินทรัพย์หมุนเวียน : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TotalCurrentAssets?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">เงินให้กู้ยืมระยะยาว : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.LoansLong?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ที่ดิน อาคาร และอุปกรณ์ :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.LandBuildingEquipment?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">รวมสินทรัพย์ไม่หมุนเวียน : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TotalNotCurrentAssets?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">รวมสินทรัพย์ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.AssetsTotal?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">เจ้าหนี้การค้า : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TradeAccPay?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">เงินกู้ระยะสั้น :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TradeAccPayLoansShot?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">รวมหนี้สินหมุนเวียน : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TradeAccPayTotalCurrentLia?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">เงินกู้ระยะยาว : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TradeAccPayLoansLong?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">รวมหนี้สินไม่หมุนเวียน : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TradeAccPayTotalNotCurrentLia?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">เงินให้กู้ยืมระยะสั้น :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TradeAccPayForLoansShot?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">รวมหนี้สิน : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TradeAccPayTotalLiabilitie?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ทุนจดทะเบียนสามัญ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.RegisterCapitalOrdinary?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ทุนจดทะเบียนที่ชำระแล้ว :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.RegisterCapitalPaid?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">กำไร (ขาดทุน) สะสม : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.ProfitLossAccumulate?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">รวมส่วนของผู้ถือหุ้น : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TotalShareholders?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">รวมหนี้สินและส่วนของผู้ถือหุ้น : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TotalLiabilitieShareholders?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">รายได้รวม : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.TotalIncome?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ต้นทุนขาย :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.CostSales?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">กำไรขั้นต้น : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.GrossProfit?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ค่าใช้จ่ายในการดำเนินงาน :</label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.OperatingExpenses?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">กำไร (ขาดทุน) ก่อนหักค่าเสื่อมและค่าใช้จ่าย : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.ProfitLossBeforeDepExp?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">กำไร (ขาดทุน) ก่อนหักดอกเบี้ยและภาษี : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.ProfitLossBeforeInterestTax?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">กำไร(ขาดทุน) ก่อนหักดอกเบี้ยและภาษีเงินได้ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.ProfitLossBeforeIncomeTaxExpense?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">กำไร (ขาดทุน) สุทธิ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.NetProfitLoss?.ToString(GeneralTxt.FormatDecimal2))
					</label>
				</div>
			</div>
		</div>
	</div>
	@* การติดต่อและความสนใจ *@
	<div class="row my-3">
		<div class="col-12">
			@* <div class="row">
		<div class="col-12 col-xl-6">
		<div class="row">
		<label class="col-sm-4 col-form-label text-lg-end fw-bold text-decoration-underline">การติดต่อและความสนใจ</label>
		<div class="col-sm-7"></div>
		</div>
		</div>
		</div> *@
			@* <div class="form-group row mb-1">
		<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">สินเชื่อที่สนใจ : </label>
		<div class="col-6 col-md-7 col-xl-3">
		<label class="col-form-label">
		@formModel.Customer.InterestLoan
		</label>
		</div><label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">ระบุ :</label>
		<div class="col-6 col-md-7 col-xl-3">
		<label class="col-form-label">
		@formModel.Customer.InterestLoanSpecify
		</label>
		</div>
		</div>
		<div class="form-group row mb-1">
		<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">จุดประสงค์การกู้ : </label>
		<div class="col-6 col-md-7 col-xl-3">
		<label class="col-form-label">
		@formModel.Customer.InterestObjectiveLoan
		</label>
		</div>
		</div>
		<div class="form-group row mb-1">
		<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">วงเงิน : </label>
		<div class="col-6 col-md-7 col-xl-3">
		<label class="col-form-label">
		@formModel.Customer.InterestCreditLimit?.ToString(GeneralTxt.FormatDecimal2)
		</label>
		</div>
		</div> *@
			<div class="form-group row mb-1">
				<label class="col-6 col-md-4 col-xl-2 col-form-label text-lg-end">หมายเหตุ : </label>
				<div class="col-6 col-md-7 col-xl-3">
					<label class="col-form-label">
						@GeneralUtils.EmptyTo(formModel.Customer.InterestNote)
					</label>
				</div>
			</div>
		</div>
	</div>

}
else
{
	<div class="d-flex align-items-center justify-content-center mh_10r">
		<p class="my-3 text-black-50">-ไม่พบข้อมูล-</p>
	</div>
}

@code {
	[Parameter]
	public SaleCustom? formModel { get; set; }
}
