@inject IOptions<AppSettings> _appSet

<link href="/css/contacthistory.css?v=@(_appSet.Value.Version)" rel="stylesheet" />

@if (formModel != null)
{
	<div class="row my-3">
		<div class="col-12">
			<div class="row d-flex justify-content-center">
				<div class="col-12 col-xl-6 ">
					<div id="tracking my-4">
						<div class="tracking-list">
							@if (formModel.Count > 0)
							{
								foreach (var item in formModel)
								{
									<div class="tracking-item">
										<div class="tracking-icon status-intransit">
											<img src="/image/icon/call.png" />
										</div>
										<div class="tracking-date">
											@GeneralUtils.DateToThString(item.CreateDate)
											<span>@GeneralUtils.DateToTimeString(item.CreateDate)</span>
										</div>
										<div class="tracking-content">
											<p class="fw-bold">@item.TopicName</p>
											@if (!String.IsNullOrEmpty(item.ContactFullName))
											{
												<p>ชื่อผู้ติดต่อ : @item.ContactFullName</p>
											}
											@if (!String.IsNullOrEmpty(item.ProceedName))
											{
												<p>การดำเนินการ : @item.ProceedName</p>
											}
											@if (!String.IsNullOrEmpty(item.MeetFullName))
											{
												<p>ชื่อผู้เข้าพบ : @item.MeetFullName</p>
											}
											@if (!String.IsNullOrEmpty(item.ResultContactName))
											{
												<p>ผลการติดต่อ : @item.ResultContactName</p>
											}
											@if (!String.IsNullOrEmpty(item.ResultMeetName))
											{
												<p>ผลการเข้าพบ : @item.ResultMeetName</p>
											}
											@if (!String.IsNullOrEmpty(item.NextActionName))
											{
												<p>Next Action : @item.NextActionName</p>
											}
											@if (item.AppointmentDate.HasValue)
											{
												<p>วันที่นัดหมาย : @GeneralUtils.DateToThString(item.AppointmentDate)</p>
											}
											@if (item.AppointmentTime.HasValue)
											{
												<p>เวลาที่นัดหมาย : @item.AppointmentTime น.</p>
											}
											@if (!String.IsNullOrEmpty(item.Location))
											{
												<p>สถานที่ : @item.Location</p>
											}
											@if (item.CreditLimit.HasValue)
											{
												<p>วงเงิน : @item.CreditLimit?.ToString("#,##0")</p>
											}
											@if (!String.IsNullOrEmpty(item.Percent))
											{
												<p>ร้อยละ : @item.Percent</p>
											}
											@if (!String.IsNullOrEmpty(item.DesireLoanName))
											{
												<p>ความประสงค์กู้ : @item.DesireLoanName</p>
											}
											@if (!String.IsNullOrEmpty(item.Reason))
											{
												<p>เหตุผล : @item.Reason</p>
											}
											@if (!String.IsNullOrEmpty(item.Note))
											{
												<p>บันทึกเพิ่มเติม : @item.Note</p>
											}
											@if (!String.IsNullOrEmpty(item.NoteSystem))
											{
												<p>Note system : @item.NoteSystem</p>
											}
										</div>
									</div>
								}
							}
							@* <div class="tracking-item">
						<div class="tracking-icon status-intransit">
						<img src="/image/icon/call.png" />
						</div>
						<div class="tracking-date">Aug 10, 2018<span>05:01 PM</span></div>
						<div class="tracking-content">DESTROYEDPER SHIPPER INSTRUCTION<span>KUALA LUMPUR (LOGISTICS HUB), MALAYSIA, MALAYSIA</span></div>
						</div> *@
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<div class="d-flex align-items-center justify-content-center mh_10r">
		<p class="my-3 text-black-50">-ไม่พบข้อมูล-</p>
	</div>
}

@code {
	[Parameter]
	public List<Sale_Contact_HistoryCustom>? formModel { get; set; }

}
