@page "/setting/branchreg"

<PageTitle>ตั้งค่า ศูนย์ธุรกิจ</PageTitle>

<MessageError errorMessage="@_errorMessage" />

<link href="/css/switch.css" rel="stylesheet" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/assign_user128x.png" width="55" /></div>
						<div class="p-2">
							@if (_appSet.Value.SystemType == SystemTypeModel.FCC)
							{
								<p class="back_topic">ตั้งค่าภูมิภาค</p>
							}
							else
							{
								<p class="back_topic">ตั้งค่า ศูนย์ธุรกิจ</p>
							}
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s">
						<div class="col mb-2">
							<label class="form-label">รหัส</label>
							<div class="input-group">
								<input @bind="filter.code" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ชื่อศูนย์ธุรกิจ</label>
							<div class="input-group">
								<input @bind="filter.branch_name" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2 mt-3 text-end">
							<a href="/setting/branchreg/create" class="btn btn-primary text-white mw_6r w-100">
								<i class="fa-solid fa-plus"></i> เพิ่มรายการ
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">รหัส</th>
											<th class="text-center">ชื่อ</th>
											<th class="text-center">จัดการ</th>
											<th class="text-center">สถานะ</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<Spinner Class="my-2" Type="SpinnerType.Dots" Color="SpinnerColor.Secondary" />
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											foreach (var item in Items)
											{
												Guid _id = item.Id;
												bool status = item.Status == StatusModel.Active;
												
												<tr>
													<td class="text-center">@item.Code</td>
													<td class="">@item.Name</td>
													<td class="text-center">
														<a href="/setting/branchreg/update/@_id">แก้ไข</a> /
														<a class="text-action" role="button" @onclick='(()=> ConfirmDelete(_id.ToString(),item.Name))'>ลบ</a>
													</td>
													<td class="text-center">
														@* <label class="switch">
															<input type="checkbox" @oninput="((e)=> StatusChanged(e,_id))" checked="@status" />
															<span class="slider round"></span>
														</label> *@

														<Switch @oninput="((e)=> StatusChanged(e,_id))" @bind-Value="status" />
													</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div>
						<PaginationBack DisplayItems="@(Items?.Count ?? 0)"
										TotalItems="@(Pager?.TotalItems ?? 0)"
										Pager="@Pager"
										OnShowOnPage="@OnSelectPagesize"
										OnSelectedPage="@OnSelectPage"
										ParameterAll="@filter?.SetParameter()">
						</PaginationBack>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ModalConfirm @ref="modalConfirm" CallbackConfirm="Delete" />
}
else
{
	<NotPermissionPage />
}