@page "/loan/create"
@page "/loan/update/{id:guid}"

<PageTitle>สินเชื่อ</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/loan_list.jpg" width="35" /></div>
						<div class="p-2">
							<p class="back_topic">รายการสินเชื่อ</p>
						</div>
					</div>
					<EditForm Model="@formModel" OnInvalidSubmit="OnInvalidSubmit" OnValidSubmit="Save">
						<DataAnnotationsValidator />
						<div class="row mt-5">
							<div class="col-12">
								<div class="row mb-3">
									<label class="col-12 col-md-4 col-xl-2 col-form-label text-lg-end">ชื่อสินเชื่อ</label>
									<div class="col-12 col-md-7 col-xl-3">
										<input @bind="formModel.Name" type="text" class="form-control">
										<ValidationMessage For="@(() => formModel.Name)" />
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="form-group row mb-3">
									<label class="col-12 col-md-4 col-xl-2 col-form-label text-lg-end">ประเภทการชำระดอกเบี้ย</label>
									<div class="col-12 col-md-7 col-xl-3 mb-3 mb-xl-0">
										<select @bind="formModel.Master_Pre_Interest_PayTypeId" id="Interest_PayType" class="selectpicker selectInit" title="เลือก" data-style="select_btn_set" data-live-search="true">
											@* <option value="">เลือก</option> *@
											@if (LookUp.Pre_Interest_PayType?.Count > 0)
											{
												foreach (var item in LookUp.Pre_Interest_PayType)
												{
													<option value="@item.Id">@item.Name</option>
												}
											}
										</select>
										<ValidationMessage For="@(() => formModel.Master_Pre_Interest_PayTypeId)" />
									</div>
									<label class="col-12 col-md-4 col-xl-2 col-form-label text-lg-end">จำนวนช่วงเวลา</label>
									<div class="col-12 col-md-7 col-xl-3 mb-3 mb-xl-0">
										<select @bind="formModel.PeriodNumber" id="Interest_Periods" class="selectpicker selectInit" data-style="select_btn_set" title="เลือก" data-live-search="true">
											@if (LookUp.Periods?.Count > 0)
											{
												foreach (var period in LookUp.Periods)
												{
													<option value="@period.ID">@period.Name</option>
												}
											}
										</select>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="row mb-3">
									<label class="col-12 col-md-4 col-xl-2 col-form-label text-lg-end">Risk Premium รายปี</label>
									<div class="col-12 col-md-7 col-xl-3">
										<input @onchange="@((ChangeEventArgs e) => formModel.RiskPremiumYear = GeneralUtils.ToDecimal(e.Value))" disabled
											   value="@formModel.RiskPremiumYear?.ToString(GeneralTxt.FormatDecimal2)" type="text" class="form-control">
										<ValidationMessage For="@(() => formModel.RiskPremiumYear)" />
									</div>
									<label class="col"> %</label>
								</div>
							</div>
						</div>
						<div class="row my-3">
							@if (formModel.Loan_Periods?.Count > 0 && (LookUps.Count == formModel.Loan_Periods?.Count))
							{
								foreach (var period in formModel.Loan_Periods)
								{
									var lookup = LookUps[period.PeriodNo - 1];

									bool isDisableInput = period.Master_Pre_Interest_RateTypeId != _rateTypeSpecial;

									<div class="col-12">
										<div class="row">
											<div class="col-12 col-xl-6">
												<div class="row">
													<label class="col-sm-4 col-form-label text-lg-end fw-bold text-decoration-underline">ระยะที่ @period.PeriodNo</label>
													<div class="col-sm-7"></div>
												</div>
											</div>
										</div>
										<div class="form-group row mb-3">
											<label class="col-12 col-md-4 col-xl-2 col-form-label text-lg-end">ประเภทอัตราดอกเบี้ย</label>
											<div class="col-12 col-md-7 col-xl-3 mb-3 mb-xl-0">
												<select @bind="period.Master_Pre_Interest_RateTypeId" id="Interest_RateType_@(period.PeriodNo)" class="selectpicker selectInit interest_RateTypes select_@period.PeriodNo" title="เลือก" data-style="select_btn_set" data-live-search="true">
													@if (lookup.Pre_Interest_RateType?.Count > 0)
													{
														foreach (var item in lookup.Pre_Interest_RateType)
														{
															<option value="@item.Id" data-optionvalue="@item.OptionValue">@item.Code</option>
														}
													}
												</select>
												<ValidationMessage For="@(() => period.Master_Pre_Interest_RateTypeId)" />
											</div>
											<label class="col-12 col-md-4 col-xl-2 col-form-label text-lg-end">อัตราดอกเบี้ย</label>
											<div class="col-12 col-md-7 col-xl-3 mb-3 mb-xl-0">
												<input @onchange="@((ChangeEventArgs e) => period.RateValue = GeneralUtils.ToDecimal(e.Value))" disabled=@isDisableInput
													   value="@period.RateValue?.ToString(GeneralTxt.FormatDecimal3)" type="text" class="form-control">
											</div>
										</div>
										@if (period.Master_Pre_Interest_RateTypeId != null
															&& period.Master_Pre_Interest_RateTypeId != _rateTypeSpecial)
										{
											<div class="form-group row mb-3">
												<label class="col-12 col-md-4 col-xl-2 col-form-label text-lg-end">Special Type</label>
												<div class="col-12 col-md-7 col-xl-3 mb-3 mb-xl-0">
													<select @onchange="(e)=> OnSpecial(period,e.Value)" class="form-select" value="@period.SpecialType">
														<option value="">เลือก</option>
														<option value="1">เพิ่ม</option>
														<option value="2">ลบ</option>
													</select>
												</div>
												<label class="col-12 col-md-4 col-xl-2 col-form-label text-lg-end">อัตราดอกเบี้ย</label>
												<div class="col-12 col-md-7 col-xl-3 mb-3 mb-xl-0">
													<input @onchange="(e)=> OnSpecialRate(period,e.Value)" type="number" class="form-control numberonly" value="@period.SpecialRate" onkeyup="enforceMinMax(this);" min="0" max="10">
												</div>
											</div>
										}
										@if (period.SpecialType != null)
										{
											<div class="form-group row mb-3">
												<label class="col-12 col-md-4 col-xl-2 col-form-label text-lg-end">เริ่มปีที่</label>
												<div class="col-12 col-md-7 col-xl-3 mb-3 mb-xl-0">
													<input @bind="period.StartYear" type="text" class="form-control numberonly" onkeyup="enforceMinMax(this);" min="1" max="10">
												</div>
											</div>
										}
										@if (formModel.Master_Pre_Interest_PayTypeId == _payType1 || period.Master_Pre_Interest_RateTypeId == _rateTypeSpecial)
										{
											<div class="form-group row mb-3">
												<label class="col-12 col-md-4 col-xl-2 col-form-label text-lg-end">ประเภทผู้ขอสินเชื่อ</label>
												<div class="col-12 col-md-7 col-xl-3 mb-3 mb-xl-0">
													@if (lookup.Pre_Applicant_LoanModel?.Count > 0)
													{
														<DropdownCheckboxCustom items="lookup.Pre_Applicant_LoanModel" />
													}
												</div>
												<label class="col-12 col-md-4 col-xl-2 col-form-label text-lg-end">ประเภทธุรกิจ</label>
												<div class="col-12 col-md-7 col-xl-3 mb-3 mb-xl-0">
													@if (lookup.Pre_BusinessTypeModel?.Count > 0)
													{
														<DropdownCheckboxCustom items="lookup.Pre_BusinessTypeModel" />
													}
												</div>
											</div>
											<div class="form-group row mb-3">
												<label class="col-12 col-md-4 col-xl-2 col-form-label text-lg-end">เงื่อนไข</label>
												<div class="col-12 col-md-8 mb-3 mb-xl-0">
													<textarea @bind="period.Condition" class="form-control" rows="4"></textarea>
												</div>
											</div>
										}
									</div>
								}
							}
						</div>
						<div class="my-4 text-center">
							<div class="d-flex bd-highlight align-items-center justify-content-center">
								<div class="p-2 bd-highlight">
									<Button @onclick=Cancel Color="ButtonColor.Secondary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
										กลับ
									</Button>
								</div>
								<div class="p-2 bd-highlight">
									<Button Color="ButtonColor.Primary" Type="ButtonType.Submit" Disabled="@isLoading" Class="mw_6r">
										@if (isLoading)
										{
											<span><i class="fa-solid fa-circle-notch fa-spin text-white fa-lg"></i></span>
										}
										บันทึก
									</Button>
								</div>
							</div>
						</div>
					</EditForm>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}

