@page "/loan"

<PageTitle>รายการสินเชื่อ</PageTitle>

<link href="/css/switch.css" rel="stylesheet" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/loan_list.jpg" width="35" /></div>
						<div class="p-2">
							<p class="back_topic">รายการสินเชื่อ</p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s d-flex justify-content-end">
						<div class="col mb-2 mt-3">
							<a href="/loan/create" class="btn btn-primary text-white mw_6r w-100">
								<i class="fa-solid fa-plus"></i> เพิ่มรายการ
							</a>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">ชื่อสินเชื่อ</th>
											<th class="text-center">ประเภทการชำระดอกเบี้ย</th>
											<th class="text-center">ประเภทอัตราดอกเบี้ย</th>
											<th class="text-center">จัดการ</th>
											<th class="text-center">สถานะ</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<Spinner Class="my-2" Type="SpinnerType.Dots" Color="SpinnerColor.Secondary" />
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											int _orderNo = Pager != null ? (Pager.PageSize * Pager.CurrentPage - 10) : 0;
											int SequenceNo = 0;
											foreach (var item in Items)
											{
												bool status = item.Status == StatusModel.Active;

												<tr>
													<td class="text-center">@item.Name</td>
													<td class="text-center">@GeneralUtils.EmptyTo(item.Master_Pre_Interest_PayTypeName)</td>
													<td class="text-center">
														@if (item.Loan_Periods?.Count > 0)
														{
															var rateType = item.Loan_Periods.FirstOrDefault();
															if (rateType != null)
															{
																<p>
																	<span>@GeneralUtils.EmptyTo(rateType.Master_Pre_Interest_RateTypeName)</span>
																</p>
															}
														}
													</td>
													<td class="text-center">
														<a href="/loan/update/@item.Id">แก้ไข</a> /
														<a class="text-action" role="button" @onclick='(()=> ConfirmDelete(item.Id.ToString(),item.Name))'>ลบ</a>
													</td>
													<td class="text-center">
														<label class="switch">
															<input type="checkbox" @oninput="((e)=> StatusChanged(e,item.Id))" checked="@status" />
															<span class="slider round"></span>
														</label>
													</td>
												</tr>
												SequenceNo++;
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div>
						<PaginationBack DisplayItems="@(Items?.Count ?? 0)"
										TotalItems="@(Pager?.TotalItems ?? 0)"
										Pager="@Pager"
										OnShowOnPage="@OnSelectPagesize"
										OnSelectedPage="@OnSelectPage"
										ParameterAll="@filter?.SetParameter()">
						</PaginationBack>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ModalConfirm @ref="modalConfirm" CallbackConfirm="Delete" />
}
else
{
	<NotPermissionPage />
}



