@page "/approveloan"

<PageTitle>อนุมัติคำขอสินเชื่อ</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/book.png" width="55" /></div>
						<div class="p-2">
							<p class="back_topic">อนุมัติคำขอสินเชื่อ</p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-auto mt-3 mb-1 filter_s">
						<div class="col mb-2">
							<label class="form-label">การแสดงผล</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>เก่าสุด -> ใหม่สุด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">ค้นหาลูกค้า</label>
							<div class="input-group mw_10r">
								<input class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">จังหวัด</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">อำเภอ</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">ผู้ขออนุมัติ</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2 mt-3">
							<button type="button" class="btn btn-primary text-white mw_7r w-100">
								<i class="fa fa-search fa-xs"></i> ค้นหา
							</button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">วันที่</th>
											<th class="text-center">เลขนิติบุคคล</th>
											<th class="text-center">ชื่อลูกค้า</th>
											<th class="text-center">จังหวัด</th>
											<th class="text-center">อำเภอ</th>
											<th class="text-center">ประเภทธุรกิจ</th>
											<th class="text-center">ผู้ขออนุมัติ</th>
											<th class="text-center">จัดการอนุมัติ</th>
											<th class="text-center">สถานะ</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											int _orderNo = Pager != null ? (Pager.PageSize * Pager.CurrentPage - 10) : 0;
											int SequenceNo = 0;
											foreach (var item in Items)
											{
												bool status = item.Status == StatusModel.Active;

												<tr>
													<td class="text-center">@GeneralUtils.getFullThaiShot(item.CreateDate)</td>
													<td class="text-center">@item.Customer?.JuristicPersonRegNumber</td>
													<td class="text-center">@item.CompanyName</td>
													<td class="text-center">@item.Customer?.ProvinceName</td>
													<td class="text-center">@item.Customer?.AmphurName</td>
													<td class="text-center">@item.Customer?.Master_BusinessTypeName</td>
													<td class="text-center">@item.ResponsibleName</td>
													<td class="text-center">
														<a class="" href="/approveloan/view/@item.Id">
															<img src="/image/icon/ckeckbox.png" width="25" />
														</a>
													</td>
													<td class="text-center"><p class="fw-bold">@item.StatusSaleName</p></td>
												</tr>
												SequenceNo++;
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div>
						<PaginationBack DisplayItems="@(Items?.Count ?? 0)"
										TotalItems="@(Pager?.TotalItems ?? 0)"
										Pager="@Pager"
										OnShowOnPage="@OnSelectPagesize"
										OnSelectedPage="@OnSelectPage"
										ParameterAll="@filter?.SetParameter()">
						</PaginationBack>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}




