<div class="px-0">
	<div class="row mt-2">
		<div class="col-12">
			<div class="bg-header text-white rounded-1 p-2">
				<h6 class="px-2">รายการข้อมูล</h6>
			</div>
		</div>
	</div>
	<div class="row mt-2 @IsShowHideSome">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="รายได้ต่องวด" readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select">
							<option value="@FieldTypes.Number">@PropertiesMain.PerFieldType(FieldTypes.Number).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="xx.xx" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 @IsShowHideSome">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="รายจ่ายต่องวด" readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select">
							<option value="@FieldTypes.Number">@PropertiesMain.PerFieldType(FieldTypes.Number).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="xx.xx" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 @IsShowHideSome">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="ภาระชำระหนี้สินอื่น ๆ ตามรอบธุรกิจ/รอบผลผลิต" readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select">
							<option value="@FieldTypes.Number">@PropertiesMain.PerFieldType(FieldTypes.Number).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="xx.xx" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 @IsShowHideSome">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="รายได้ตามรอบธุรกิจ/รอบผลผลิต" readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select">
							<option value="@FieldTypes.Number">@PropertiesMain.PerFieldType(FieldTypes.Number).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="xx.xx" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 @IsShowHideSome">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="ปริมาณเงินฝากกับ ธกส." readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select">
							<option value="@FieldTypes.Number">@PropertiesMain.PerFieldType(FieldTypes.Number).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="xx.xx" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 @IsShowHideSome">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="ประเภทหลักประกัน" readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select">
							<option value="@FieldTypes.Dropdown">@PropertiesMain.PerFieldType(FieldTypes.Dropdown).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					@if (formModel.Pre_Cal_Fetu_Stan_ItemOptions?.Count > 0)
					{
						int type = PreStanDropDownType.CollateralType;
						var stan_DropDowns = formModel.Pre_Cal_Fetu_Stan_ItemOptions.Where(x => x.Type == type).ToList();
						int index = 1;
						foreach (var item in stan_DropDowns)
						{
							Guid ID = item.Id;

							<div class="col-12 col-sm-8 col-xl-6">
								<input @bind="item.Name" @onfocusout="() => CopyItemDropDownToScore(type)" type="text" class="form-control mb-1" placeholder="text">
							</div>
							<div class="col-12 col-sm-3 text-end text-sm-start mt-2 mt-sm-0">
								@if (stan_DropDowns.Count > 1)
								{
									<Button @onclick="async () => await RemoveDropDown(ID)" Color="ButtonColor.Danger" Type="ButtonType.Button" Class="me-2">
										<i class="fa-regular fa-trash-can"></i>
									</Button>
								}
								@if (stan_DropDowns.Count == index)
								{
									<Button @onclick="async () => await InsertDropDown(type)" Color="ButtonColor.Primary" Type="ButtonType.Button" Class="">
										<i class="fa-solid fa-circle-plus"></i>
									</Button>
								}
							</div>
							index++;
						}
					}
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 @IsShowHideSome">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="มูลค่าหลักประกัน" readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select">
							<option value="@FieldTypes.Number">@PropertiesMain.PerFieldType(FieldTypes.Number).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="xx.xx" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="ประวัติการชำระหนี้" readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select">
							<option value="@FieldTypes.Dropdown">@PropertiesMain.PerFieldType(FieldTypes.Dropdown).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					@if (formModel.Pre_Cal_Fetu_Stan_ItemOptions?.Count > 0)
					{
						int type = PreStanDropDownType.PaymentHistory;
						var stan_DropDowns = formModel.Pre_Cal_Fetu_Stan_ItemOptions.Where(x => x.Type == type).ToList();
						int index = 1;
						foreach (var item in stan_DropDowns)
						{
							Guid ID = item.Id;

							<div class="col-12 col-sm-8 col-xl-6">
								<input @bind="item.Name" @onfocusout="() => CopyItemDropDownToScore(type)" type="text" class="form-control mb-1" placeholder="text">
							</div>
							<div class="col-12 col-sm-3 text-end text-sm-start mt-2 mt-sm-0">
								@if (stan_DropDowns.Count > 1)
								{
									<Button @onclick="async () => await RemoveDropDown(ID)" Color="ButtonColor.Danger" Type="ButtonType.Button" Class="me-2">
										<i class="fa-regular fa-trash-can"></i>
									</Button>
								}
								@if (stan_DropDowns.Count == index)
								{
									<Button @onclick="async () => await InsertDropDown(type)" Color="ButtonColor.Primary" Type="ButtonType.Button" Class="">
										<i class="fa-solid fa-circle-plus"></i>
									</Button>
								}
							</div>
							index++;
						}
					}
				</div>
			</div>
		</div>
	</div>
	<div class="container_pre_cal">
		<div class="row mt-2">
			<div class="col-12">
				<div class="bg-header text-white rounded-1 p-2">
					<h6 class="px-2">คะแนนในการคำนวณ</h6>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-end  align-items-center">
			<div class="p-2">คะแนนสูงสุด</div>
			<div class="p-2">
				<input @bind="formModel.HighScore" type="text" class="form-control form-control-sm score">
			</div>
		</div>
		<div class="row p-3 @IsShowHideSome">
			<div class="col-12">
			</div>
				<p>@PropertiesMain.PerCalFetuStanName(PreStanScoreType.WeightIncomeExpenses.ToString())?.Name</p>
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<div class="rounded p-3">
							@if (formModel.Pre_Cal_Fetu_Stan_Scores?.Count > 0)
							{
								int type = PreStanScoreType.WeightIncomeExpenses;
								var stan_Score = formModel.Pre_Cal_Fetu_Stan_Scores.Where(x => x.Type == type).ToList();

								int index = 1;
								foreach (var item in stan_Score)
								{
									Guid ID = item.Id;

									<div class="row d-flex align-items-center mb-1">
										<div class="col-12 col-lg-6 mb-1">
											<input @bind="item.Name" type="text" class="form-control form-control-sm">
										</div>
										<div class="col-4 col-lg-2 mb-1 text-end">
											<span>คะแนน</span>
										</div>
										<div class="col-3 col-lg-1 mb-1">
											<input @bind="item.Score" type="text" class="form-control form-control-sm score">
										</div>
										<div class="col-5 col-lg-3 mb-1">
											@if (stan_Score.Count > 1)
											{
												<Button @onclick="async () => await RemoveScore(ID)" Color="ButtonColor.Danger" Type="ButtonType.Button" Class="me-2">
													<i class="fa-regular fa-trash-can"></i>
												</Button>
											}
											@if (stan_Score.Count == index)
											{
												<Button @onclick="async () => await InsertScore(type)" Color="ButtonColor.Primary" Type="ButtonType.Button" Class="">
													<i class="fa-solid fa-circle-plus"></i>
												</Button>
											}
										</div>
									</div>
									index++;
								}
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row p-3 @IsShowHideSome">
			<div class="col-12">
				<p>@PropertiesMain.PerCalFetuStanName(PreStanScoreType.WeighCollateraltDebtValue.ToString())?.Name</p>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<div class="rounded p-3">
							@if (formModel.Pre_Cal_Fetu_Stan_Scores?.Count > 0)
							{
								int type = PreStanScoreType.WeighCollateraltDebtValue;
								var stan_Score = formModel.Pre_Cal_Fetu_Stan_Scores.Where(x => x.Type == type).ToList();

								int index = 1;
								foreach (var item in stan_Score)
								{
									Guid ID = item.Id;

									<div class="row d-flex align-items-center mb-1">
										<div class="col-12 col-lg-6 mb-1">
											<input @bind="item.Name" type="text" class="form-control form-control-sm">
										</div>
										<div class="col-4 col-lg-2 mb-1 text-end">
											<span>คะแนน</span>
										</div>
										<div class="col-3 col-lg-1 mb-1">
											<input @bind="item.Score" type="text" class="form-control form-control-sm score">
										</div>
										<div class="col-5 col-lg-3 mb-1">
											@if (stan_Score.Count > 1)
											{
												<Button @onclick="async () => await RemoveScore(ID)" Color="ButtonColor.Danger" Type="ButtonType.Button" Class="me-2">
													<i class="fa-regular fa-trash-can"></i>
												</Button>
											}
											@if (stan_Score.Count == index)
											{
												<Button @onclick="async () => await InsertScore(type)" Color="ButtonColor.Primary" Type="ButtonType.Button" Class="">
													<i class="fa-solid fa-circle-plus"></i>
												</Button>
											}
										</div>
									</div>
									index++;
								}
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row p-3 @IsShowHideSome">
			<div class="col-12">
				<p>@PropertiesMain.PerCalFetuStanName(PreStanScoreType.WeighLiabilitieOtherIncome.ToString())?.Name</p>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<div class="rounded p-3">
							@if (formModel.Pre_Cal_Fetu_Stan_Scores?.Count > 0)
							{
								int type = PreStanScoreType.WeighLiabilitieOtherIncome;
								var stan_Score = formModel.Pre_Cal_Fetu_Stan_Scores.Where(x => x.Type == type).ToList();

								int index = 1;
								foreach (var item in stan_Score)
								{
									Guid ID = item.Id;

									<div class="row d-flex align-items-center mb-1">
										<div class="col-12 col-lg-6 mb-1">
											<input @bind="item.Name" type="text" class="form-control form-control-sm">
										</div>
										<div class="col-4 col-lg-2 mb-1 text-end">
											<span>คะแนน</span>
										</div>
										<div class="col-3 col-lg-1 mb-1">
											<input @bind="item.Score" type="text" class="form-control form-control-sm score">
										</div>
										<div class="col-5 col-lg-3 mb-1">
											@if (stan_Score.Count > 1)
											{
												<Button @onclick="async () => await RemoveScore(ID)" Color="ButtonColor.Danger" Type="ButtonType.Button" Class="me-2">
													<i class="fa-regular fa-trash-can"></i>
												</Button>
											}
											@if (stan_Score.Count == index)
											{
												<Button @onclick="async () => await InsertScore(type)" Color="ButtonColor.Primary" Type="ButtonType.Button" Class="">
													<i class="fa-solid fa-circle-plus"></i>
												</Button>
											}
										</div>
									</div>
									index++;
								}
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row p-3 @IsShowHideSome">
			<div class="col-12">
				<p>@PropertiesMain.PerCalFetuStanName(PreStanScoreType.CashBank.ToString())?.Name</p>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<div class="rounded p-3">
							@if (formModel.Pre_Cal_Fetu_Stan_Scores?.Count > 0)
							{
								int type = PreStanScoreType.CashBank;
								var stan_Score = formModel.Pre_Cal_Fetu_Stan_Scores.Where(x => x.Type == type).ToList();

								int index = 1;
								foreach (var item in stan_Score)
								{
									Guid ID = item.Id;

									<div class="row d-flex align-items-center mb-1">
										<div class="col-12 col-lg-6 mb-1">
											<input @bind="item.Name" type="text" class="form-control form-control-sm">
										</div>
										<div class="col-4 col-lg-2 mb-1 text-end">
											<span>คะแนน</span>
										</div>
										<div class="col-3 col-lg-1 mb-1">
											<input @bind="item.Score" type="text" class="form-control form-control-sm score">
										</div>
										<div class="col-5 col-lg-3 mb-1">
											@if (stan_Score.Count > 1)
											{
												<Button @onclick="async () => await RemoveScore(ID)" Color="ButtonColor.Danger" Type="ButtonType.Button" Class="me-2">
													<i class="fa-regular fa-trash-can"></i>
												</Button>
											}
											@if (stan_Score.Count == index)
											{
												<Button @onclick="async () => await InsertScore(type)" Color="ButtonColor.Primary" Type="ButtonType.Button" Class="">
													<i class="fa-solid fa-circle-plus"></i>
												</Button>
											}
										</div>
									</div>
									index++;
								}
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row p-3 @IsShowHideSome">
			<div class="col-12">
				<p>@PropertiesMain.PerCalFetuStanName(PreStanScoreType.CollateralType.ToString())?.Name</p>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<div class="rounded p-3">
							@if (formModel.Pre_Cal_Fetu_Stan_Scores?.Count > 0)
							{
								int type = PreStanScoreType.CollateralType;
								var stan_Score = formModel.Pre_Cal_Fetu_Stan_Scores.Where(x => x.Type == type).ToList();

								int index = 1;
								foreach (var item in stan_Score)
								{
									Guid ID = item.Id;

									<div class="row d-flex align-items-center mb-1">
										<div class="col-12 col-lg-6 mb-1">
											<input @bind="item.Name" type="text" class="form-control form-control-sm" disabled>
										</div>
										<div class="col-4 col-lg-2 mb-1 text-end">
											<span>คะแนน</span>
										</div>
										<div class="col-3 col-lg-1 mb-1">
											<input @bind="item.Score" type="text" class="form-control form-control-sm score">
										</div>
										@* <div class="col-5 col-lg-3 mb-1">
								@if (stan_Score.Count > 1)
								{
								<Button @onclick="async () => await RemoveScore(ID,type)" Color="ButtonColor.Danger" Type="ButtonType.Button" Class="me-2">
								<i class="fa-regular fa-trash-can"></i>
								</Button>
								}
								@if (stan_Score.Count == index)
								{
								<Button @onclick="async () => await InsertScore(type)" Color="ButtonColor.Primary" Type="ButtonType.Button" Class="">
								<i class="fa-solid fa-circle-plus"></i>
								</Button>
								}
								</div> *@
									</div>
									index++;
								}
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row p-3 @IsShowHideSome">
			<div class="col-12">
				<p>@PropertiesMain.PerCalFetuStanName(PreStanScoreType.CollateralValue.ToString())?.Name</p>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<div class="rounded p-3">
							@if (formModel.Pre_Cal_Fetu_Stan_Scores?.Count > 0)
							{
								int type = PreStanScoreType.CollateralValue;
								var stan_Score = formModel.Pre_Cal_Fetu_Stan_Scores.Where(x => x.Type == type).ToList();

								int index = 1;
								foreach (var item in stan_Score)
								{
									Guid ID = item.Id;

									<div class="row d-flex align-items-center mb-1">
										<div class="col-12 col-lg-6 mb-1">
											<input @bind="item.Name" type="text" class="form-control form-control-sm">
										</div>
										<div class="col-4 col-lg-2 mb-1 text-end">
											<span>คะแนน</span>
										</div>
										<div class="col-3 col-lg-1 mb-1">
											<input @bind="item.Score" type="text" class="form-control form-control-sm score">
										</div>
										<div class="col-5 col-lg-3 mb-1">
											@if (stan_Score.Count > 1)
											{
												<Button @onclick="async () => await RemoveScore(ID)" Color="ButtonColor.Danger" Type="ButtonType.Button" Class="me-2">
													<i class="fa-regular fa-trash-can"></i>
												</Button>
											}
											@if (stan_Score.Count == index)
											{
												<Button @onclick="async () => await InsertScore(type)" Color="ButtonColor.Primary" Type="ButtonType.Button" Class="">
													<i class="fa-solid fa-circle-plus"></i>
												</Button>
											}
										</div>
									</div>
									index++;
								}
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row p-3">
			<div class="col-12">
				<p>@PropertiesMain.PerCalFetuStanName(PreStanScoreType.PaymentHistory.ToString())?.Name</p>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<div class="rounded p-3">
							@if (formModel.Pre_Cal_Fetu_Stan_Scores?.Count > 0)
							{
								int type = PreStanScoreType.PaymentHistory;
								var stan_Score = formModel.Pre_Cal_Fetu_Stan_Scores.Where(x => x.Type == type).ToList();

								int index = 1;
								foreach (var item in stan_Score)
								{
									Guid ID = item.Id;

									<div class="row d-flex align-items-center mb-1">
										<div class="col-12 col-lg-6 mb-1">
											<input @bind="item.Name" type="text" class="form-control form-control-sm" disabled>
										</div>
										<div class="col-4 col-lg-2 mb-1 text-end">
											<span>คะแนน</span>
										</div>
										<div class="col-3 col-lg-2 mb-1">
											<input @bind="item.Score" type="text" class="form-control form-control-sm score">
										</div>
										@* <div class="col-5 col-lg-3 mb-1">
								@if (stan_Score.Count > 1)
								{
								<Button @onclick="async () => await RemoveScore(ID,type)" Color="ButtonColor.Danger" Type="ButtonType.Button" Class="me-2">
								<i class="fa-regular fa-trash-can"></i>
								</Button>
								}
								@if (stan_Score.Count == index)
								{
								<Button @onclick="async () => await InsertScore(type)" Color="ButtonColor.Primary" Type="ButtonType.Button" Class="">
								<i class="fa-solid fa-circle-plus"></i>
								</Button>
								}
								</div> *@
									</div>
									index++;
								}
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="my-4 text-center">
		<div class="d-flex bd-highlight align-items-center justify-content-center">
			<div class="p-2 bd-highlight">
				<Button @onclick=Cancel Color="ButtonColor.Secondary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
					กลับ
				</Button>
			</div>
			<div class="p-2 bd-highlight">
				<Button @onclick=Seve Color="ButtonColor.Primary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
					@if (isLoading)
					{
						<Spinner Color="SpinnerColor.Light" Size="SpinnerSize.Small" />
					}
					บันทึก
				</Button>
			</div>
		</div>
	</div>
</div>


