<div class="px-0">
	<div class="row mt-2">
		<div class="col-12">
			<div class="bg-header text-white rounded-1 p-2">
				<h6 class="px-2">รายการข้อมูล</h6>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="สินเชื่อ" readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select readonly_input" readonly>
							<option value="@FieldTypes.DropdownMaster">@PropertiesMain.PerFieldType(FieldTypes.DropdownMaster).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<select class="form-select" disabled>
							<option disabled selected value="">รายการสินเชื่อ</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="จำนวนงวดชำระต่อปี" readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select readonly_input" readonly>
							<option value="@FieldTypes.Dropdown">@PropertiesMain.PerFieldType(FieldTypes.Dropdown).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="1" disabled>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="2" disabled>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="3" disabled>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="4" disabled>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="6" disabled>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="12" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="มูลค่าสินเชื่อ" readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select">
							<option value="@FieldTypes.Number">@PropertiesMain.PerFieldType(FieldTypes.Number).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="Number" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="ระยะเวลาสินเชื่อ" readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select">
							<option value="@FieldTypes.Number">@PropertiesMain.PerFieldType(FieldTypes.Number).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<input type="text" class="form-control" placeholder="Number" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="ประเภทผู้ขอสินเชื่อ" readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select readonly_input" readonly>
							<option value="@FieldTypes.DropdownMaster">@PropertiesMain.PerFieldType(FieldTypes.DropdownMaster).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<select class="form-select" disabled>
							<option disabled selected value="">ประเภทผู้ขอสินเชื่อ</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-12 col-xl-10">
			<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
				<div class="row">
					<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
						<div class="row mb-2">
							<div class="col-12">
								<input type="text" class="form-control readonly_input" value="ประเภทธุรกิจ" readonly>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
						<select class="form-select readonly_input" readonly>
							<option value="@FieldTypes.DropdownMaster">@PropertiesMain.PerFieldType(FieldTypes.DropdownMaster).Name</option>
						</select>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12 col-sm-8 col-xl-6">
						<select class="form-select" disabled>
							<option disabled selected value="">ประเภทธุรกิจ</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container_pre_cal">
		<div class="row mt-2">
			<div class="col-12">
				<div class="bg-header text-white rounded-1 p-2">
					<h6 class="px-2">คะแนนในการคำนวณ</h6>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-end  align-items-center">
			<div class="p-2">คะแนนสูงสุด</div>
			<div class="p-2">
				<input @bind="formModel.HighScore" type="text" class="form-control form-control-sm score">
			</div>
		</div>
		<div class="row p-3">
			<div class="col-12">
				<p>น้ำหนักของแต่ละปัจจัยรายได้ต่อรายจ่าย</p>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<div class="rounded p-3">
							@if (formModel.Pre_Cal_Info_Scores?.Count > 0)
							{
								int index = 1;
								foreach (var item in formModel.Pre_Cal_Info_Scores)
								{
									Guid ID = item.Id;

									<div class="row d-flex align-items-center mb-1">
										<div class="col-12 col-lg-6 mb-1">
											<input @bind="item.Quantity" type="text" class="form-control form-control-sm">
										</div>
										<div class="col-4 col-lg-2 mb-1 text-end">
											<span>คะแนน</span>
										</div>
										<div class="col-3 col-lg-1 mb-1">
											<input @bind="item.Score" type="text" class="form-control form-control-sm score">
										</div>
										<div class="col-5 col-lg-3 mb-1">
											@if (formModel.Pre_Cal_Info_Scores.Count > 1)
											{
												<Button @onclick="async () => await RemoveScore(ID)" Color="ButtonColor.Danger" Type="ButtonType.Button" Class="me-2">
													<i class="fa-regular fa-trash-can"></i>
												</Button>
											}
											@if (formModel.Pre_Cal_Info_Scores.Count == index)
											{
												<Button @onclick="async () => await InsertScore()" Color="ButtonColor.Primary" Type="ButtonType.Button" Class="">
													<i class="fa-solid fa-circle-plus"></i>
												</Button>
											}
										</div>
									</div>
									index++;
								}
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="my-4 text-center">
		<div class="d-flex bd-highlight align-items-center justify-content-center">
			<div class="p-2 bd-highlight">
				<Button @onclick=Cancel Color="ButtonColor.Secondary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
					กลับ
				</Button>
			</div>
			<div class="p-2 bd-highlight">
				<Button @onclick=Seve Color="ButtonColor.Primary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
					@if (isLoading)
					{
						<span><i class="fa-solid fa-circle-notch fa-spin text-white fa-lg"></i></span>
					}
					บันทึก
				</Button>
			</div>
		</div>
	</div>
</div>


