@page "/dashboard/avgdurationlostsale"

<PageTitle>ระยะเวลาเฉลี่ยที่ใช้ในการขายที่แพ้ให้กับคู่แข่ง</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2">
							<a href="/dashboard"><img src="/image/icon/circle-left-x100.png" width="40" /></a>
						</div>
						<div class="p-2">
							<p class="back_topic">รายงานระยะเวลาเฉลี่ยที่ใช้ในการขายที่แพ้ให้กับคู่แข่ง</p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s">
						<div class="col mb-2">
							<label class="form-label">วันที่เริ่มติดต่อ</label>
							<input type="date" class="form-control" @onchange="OnContactDateStart" value="@(filter.contactstartdate.HasValue ? filter.contactstartdate.Value.ToString("yyyy-MM-dd"):String.Empty)">
						</div>
						<div class="col mb-2">
							<label class="form-label">ค้นหาลูกค้า</label>
							<div class="input-group">
								<input @bind="filter.searchtxt" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ชื่อผู้ติดต่อ</label>
							<div class="input-group">
								<input @bind="filter.contact_name" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ชื่อผู้รับผิดชอบ</label>
							<div class="input-group">
								<input @bind="filter.assignrm_name" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2 mt-3">
							<button @onclick="Search" type="button" class="btn btn-primary text-white mw_7r w-100">
								<i class="fa fa-search fa-xs"></i> ค้นหา
							</button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">วันที่เริ่มติดต่อ</th>
											<th class="text-center">ชื่อลูกค้า</th>
											<th class="text-center">ผู้ติดต่อ</th>
											<th class="text-center">รอการติดต่อ (วัน)</th>
											<th class="text-center">เข้าพบ (วัน)</th>
											<th class="text-center">พิจารณาเอกสาร (วัน)</th>
											<th class="text-center">ระยะเวลารวม (วัน)</th>
											<th class="text-center">ผู้รับผิดชอบ</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											foreach (var item in Items)
											{
												<tr>
													<td class="text-center">@GeneralUtils.DateToThString(item.ContactStartDate)</td>
													<td class="">@item.Sale?.CompanyName</td>
													<td class="text-center">@item.ContactName</td>
													<td class="text-center">@(item.WaitContact + item.Contact)</td>
													<td class="text-center">@item.Meet</td>
													<td class="text-center">@item.Document</td>
													<td class="text-center">@(item.WaitContact + item.Contact + item.Meet + item.Document)</td>
													<td class="text-center">@GeneralUtils.EmptyTo(item.Sale?.AssUserName)</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div>
						<PaginationBack DisplayItems="@(Items?.Count ?? 0)"
										TotalItems="@(Pager?.TotalItems ?? 0)"
										Pager="@Pager"
										OnShowOnPage="@OnSelectPagesize"
										OnSelectedPage="@OnSelectPage"
										ParameterAll="@filter?.SetParameter()">
						</PaginationBack>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}

