@page "/dashboard/avgeperdeal"

<PageTitle>มูลค่าเฉลี่ยต่อหนึ่งดีล</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2">
							<a href="/dashboard"><img src="/image/icon/circle-left-x100.png" width="40" /></a>
						</div>
						<div class="p-2">
							<p class="back_topic">รายงาน มูลค่าเฉลี่ยต่อหนึ่งดีล</p>
						</div>
					</div>
					@* <div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
				</div> *@
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s">
						<div class="col mb-2">
							<label class="form-label">กิจการสาขาภาค</label>
							<div class="">
								<select id="DepBranchs" class="selectpicker" data-style="select_btn_set" title="กิจการสาขาภาคทั้งหมด" multiple data-actions-box="true" data-live-search="true">
									@if (LookUp.DepartmentBranch?.Count > 0)
									{
										foreach (var item in LookUp.DepartmentBranch)
										{
											<option value="@item.Id">@item.Name</option>
										}
									}
								</select>
								@* <Dropdown AutoCloseBehavior="DropdownAutoCloseBehavior.Outside" Class="multiple_select" Disabled=isLoadingDepBranchs>
									<DropdownToggleButton Class="text-start">
										@filterRegionsTitle
										@if (isLoadingDepBranchs)
										{
											<div class="spinner-border spinner-border-sm float-end" role="status">
												<span class="visually-hidden">Loading...</span>
											</div>
										}
									</DropdownToggleButton>
									<DropdownMenu Class="overflow-auto maxh_20r">
										@if (LookUp.DepartmentBranch?.Count > 0)
										{
											foreach (var item in LookUp.DepartmentBranch ?? new())
											{
												var isCheck = filterAvg.DepartmentBranch?.Any(x => x.Value == item.Id.ToString()) ?? false;

												<DropdownItem>
													<label>
														<input @oninput=@(async(e) => await OnDepBranchs(e.Value,item)) type="checkbox" class="form-check-input" value="@item.Id" checked=@isCheck> @item.Name
													</label>
												</DropdownItem>
											}
										}
									</DropdownMenu>
								</Dropdown> *@
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">สาขา</label>
							<div class="">
								<Dropdown AutoCloseBehavior="DropdownAutoCloseBehavior.Outside" Class="multiple_select" Disabled=isLoadingDepBranchs>
									<DropdownToggleButton Class="text-start">@filterBranchsTitle
										@if (isLoadingDepBranchs)
										{
											<div class="spinner-border spinner-border-sm float-end" role="status">
												<span class="visually-hidden">Loading...</span>
											</div>
										}
									</DropdownToggleButton>
									<DropdownMenu Class="overflow-auto maxh_20r">
										<DropdownItem Class="">
											<label>
												<input type="text" class="form-control" />
											</label>
										</DropdownItem>
										@if (LookUp.Branchs?.Count > 0)
										{
											foreach (var item in LookUp.Branchs)
											{
												var isCheck = filterAvg.Branchs?.Any(x => x.Value == item.BranchID.ToString()) ?? false;

												<DropdownItem>
													<label>
														<input @oninput=@(async(e) => await OnBranch(e.Value,item)) type="checkbox" class="form-check-input" value="@item.BranchID" checked=@isCheck> @item.BranchName
													</label>
												</DropdownItem>
											}
										}
										else
										{
											<DropdownItem>
												<label class="text-black-50">ไม่พบข้อมูล</label>
											</DropdownItem>
										}
									</DropdownMenu>
								</Dropdown>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ผู้รับผิดชอบ</label>
							<div class="">
								<Dropdown AutoCloseBehavior="DropdownAutoCloseBehavior.Outside" Class="multiple_select" Disabled=isLoadingDepBranchs>
									<DropdownToggleButton Class="text-start">
										@filterRMUserTitle
										@if (isLoadingDepBranchs)
										{
											<div class="spinner-border spinner-border-sm float-end" role="status">
												<span class="visually-hidden">Loading...</span>
											</div>
										}
									</DropdownToggleButton>
									<DropdownMenu>
										@if (LookUp.RMUser?.Count > 0)
										{
											@foreach (var item in LookUp.RMUser)
											{
												var isCheck = filterAvg.RMUser?.Any(x => x.Value == item.Id.ToString()) ?? false;

												<DropdownItem>
													<label>
														<input @oninput=@(async(e) => await OnRMUser(e.Value,item)) type="checkbox" class="form-check-input" value="@item.Id" checked=@isCheck> @item.User?.FullName
													</label>
												</DropdownItem>
											}
										}
										else
										{
											<DropdownItem>
												<label class="text-black-50">ไม่พบข้อมูล</label>
											</DropdownItem>
										}
									</DropdownMenu>
								</Dropdown>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">เริ่มต้น</label>
							<input type="date" class="form-control" value="@(filterAvg.startdate.HasValue ? filterAvg.startdate.Value.ToString("yyyy-MM-dd"):String.Empty)">
						</div>
						<div class="col mb-2">
							<label class="form-label">สิ้นสุด</label>
							<input type="date" class="form-control" value="@(filterAvg.enddate.HasValue ? filterAvg.enddate.Value.ToString("yyyy-MM-dd"):String.Empty)">
						</div>
						<div class="col mb-2 mt-3">
							<button type="button" class="btn btn-primary text-white mw_7r w-100">
								<i class="fa fa-search fa-xs"></i> ค้นหา
							</button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="chart-view" style="position: relative;">
								<canvas id="avgdeal_bar1"></canvas>
							</div>
						</div>
					</div>
					<div class="row mt-5 filter_s">
						<div class="col-12 col-xl-4">
							<label class="form-label">ภูมิภาค</label>
							<div class="chart-view" style="position: relative;">
								<canvas id="avgdeal_bar2"></canvas>
							</div>
						</div>
						<div class="col-12 col-xl-4">
							<label class="form-label">พื้นที่</label>
							<div>
								<div class="dropdown">
									<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Menu </a>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
										<li><a class="dropdown-item" href="#">Action</a></li>
										<li class="dropdown dropend">
											<a class="dropdown-item dropdown-toggle" href="#" id="multilevelDropdownMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Multilevel Action 1</a>
											<ul class="dropdown-menu" aria-labelledby="multilevelDropdownMenu1">
												<li><a class="dropdown-item" href="#">Action</a></li>
												<li class="dropdown dropend">
													<a class="dropdown-item dropdown-toggle" href="#" id="multilevelDropdownMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Multilevel Action 2</a>
													<ul class="dropdown-menu" aria-labelledby="multilevelDropdownMenu2">
														<li><a class="dropdown-item" href="#">Action</a></li>
														<li><a class="dropdown-item" href="#">Another action</a></li>
														<li><a class="dropdown-item" href="#">Something else here</a></li>
													</ul>
												</li>
												<li><a class="dropdown-item" href="#">Another action</a></li>
												<li><a class="dropdown-item" href="#">Something else here</a></li>
											</ul>
										</li>
										<li><a class="dropdown-item" href="#">Something else here</a></li>
									</ul>
								</div>
							</div>
							<div class="chart-view" style="position: relative;">
								<canvas id="avgdeal_bar3"></canvas>
							</div>
						</div>
						<div class="col-12 col-xl-4">
							<label class="form-label">สาขา</label>
							<div class="chart-view" style="position: relative;">
								<canvas id="avgdeal_bar4"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}

