
@page "/dashboard/avgeperdeal/region"

<PageTitle>มูลค่าเฉลี่ยต่อหนึ่งดีล</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2">
							<a href="/dashboard/avgeperdeal"><img src="/image/icon/circle-left-x100.png" width="40" /></a>
						</div>
						<div class="p-2">
							<p class="back_topic">มูลค่าเฉลี่ยต่อหนึ่งดีล <span class="back_topic_active">ภูมิภาค</span></p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s">
						<div class="col mb-2">
							<label class="form-label">เริ่มต้น</label>
							<input type="date" class="form-control" @onchange="OnDateStart" value="@(filter.startdate.HasValue ? filter.startdate.Value.ToString("yyyy-MM-dd"):String.Empty)">
						</div>
						<div class="col mb-2">
							<label class="form-label">สิ้นสุด</label>
							<input type="date" class="form-control" @onchange="OnDateEnd" value="@(filter.enddate.HasValue ? filter.enddate.Value.ToString("yyyy-MM-dd"):String.Empty)">
						</div>
						<div class="col mb-2">
							<label class="form-label">กิจการสาขาภาค</label>
							<div class="">
								<select id="DepBranch" class="selectpicker" data-style="select_btn_set" title="ทั้งหมด" data-actions-box="true" data-live-search="true" data-selected-text-format="count" multiple>
									@if (LookUp.DepartmentBranch?.Count > 0)
									{
										foreach (var item in LookUp.DepartmentBranch)
										{
											<option value="@item.Id">@item.Name</option>
										}
									}
								</select>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">สาขา</label>
							<div class="">
								<select id="Branch" class="selectpicker selectInit" data-style="select_btn_set" title="ทั้งหมด" data-actions-box="true" data-live-search="true" data-selected-text-format="count" multiple>
									@if (LookUp.Branchs?.Count > 0)
									{
										foreach (var item in LookUp.Branchs)
										{
											<option value="@item.BranchID">@item.BranchName</option>
										}
									}
								</select>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ผู้รับผิดชอบ</label>
							<div class="">
								<select id="RMUser" class="selectpicker selectInit" data-style="select_btn_set" title="ทั้งหมด" data-actions-box="true" data-live-search="true" data-selected-text-format="count" multiple>
									@if (LookUp.RMUser?.Count > 0)
									{
										foreach (var item in LookUp.RMUser)
										{
											<option value="@item.UserId">@item.User?.FullName</option>
										}
									}
								</select>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ยอดสินเชื่อ</label>
							<div class="input-group">
								<input @bind="filter.loanamount" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="((e) => Search())" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ประเภทธุรกิจ</label>
							<select id="BusinessType" @onchange="OnBusinessType" value="@filter.businesstype" class="selectpickerdefault" data-style="select_btn_set" data-live-search="true">
								<option value="">ทั้งหมด</option>
								@if (LookUp.BusinessType?.Count > 0)
								{
									foreach (var item in LookUp.BusinessType)
									{
										<option value="@item.Id">@item.Name</option>
									}
								}
							</select>
						</div>
						<div class="col mb-2 mt-3">
							<button @onclick="Search" type="button" class="btn btn-primary text-white mw_7r w-100">
								<i class="fa fa-search fa-xs"></i> ค้นหา
							</button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="chart-view" style="position: relative;">
								<canvas id="avgdeal_region_bar"></canvas>
							</div>
						</div>
					</div>
					<div class="row mt-5 filter_s">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">วันที่</th>
											<th class="text-center">เลขทะเบียนนิติบุคคล</th>
											<th class="text-center">ชื่อลูกค้า</th>
											<th class="text-center">กิจการสาขาภาค</th>
											<th class="text-center">สาขา</th>
											<th class="text-center">ประเภทธุรกิจ</th>
											<th class="text-center">เบอร์โทรศัพท์</th>
											<th class="text-center">ผู้รับผิดชอบ</th>
											<th class="text-center">ยอดสินเชื่อ</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											foreach (var item in Items)
											{
												<tr>
													<td class="text-center">@GeneralUtils.DateToThString(item.CreateDate)</td>
													<td class="text-center">@item.Customer?.JuristicPersonRegNumber</td>
													<td class="">@item.CompanyName</td>
													<td class="text-center">@GeneralUtils.EmptyTo(item.Master_Branch_RegionName)</td>
													<td class="text-center">@GeneralUtils.EmptyTo(item.BranchName)</td>
													<td class="text-center">@item.Customer?.Master_BusinessTypeName</td>
													<td class="text-center">@GeneralUtils.EmptyTo(item.Customer?.ContactTel)</td>
													<td class="text-center">@GeneralUtils.EmptyTo(item.AssUserName)</td>
													<td class="text-center fw-bold">
														@if (item.LoanAmount.HasValue)
														{
															<span>
																@item.LoanAmount.Value.ToString(GeneralTxt.FormatDecimal2)
															</span>
														}
													</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div>
						<PaginationBack DisplayItems="@(Items?.Count ?? 0)"
										TotalItems="@(Pager?.TotalItems ?? 0)"
										Pager="@Pager"
										OnShowOnPage="@OnSelectPagesize"
										OnSelectedPage="@OnSelectPage"
										ParameterAll="@filter?.SetParameter()">
						</PaginationBack>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}


