@page "/dashboard/avgeperdeal"

<PageTitle>มูลค่าเฉลี่ยต่อหนึ่งดีล</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2">
							<a href="/dashboard"><img src="/image/icon/circle-left-x100.png" width="40" /></a>
						</div>
						<div class="p-2">
							<p class="back_topic">รายงาน มูลค่าเฉลี่ยต่อหนึ่งดีล</p>
						</div>
					</div>
					@* <div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
				</div> *@
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s">
						<div class="col mb-2">
							<label class="form-label">กิจการสาขาภาค</label>
							<div class="">
								<select id="DepBranch" class="selectpicker" data-style="select_btn_set" title="ทั้งหมด" data-actions-box="true" data-live-search="true" data-selected-text-format="count" multiple>
									@if (LookUp.DepartmentBranch?.Count > 0)
									{
										foreach (var item in LookUp.DepartmentBranch)
										{
											<option value="@item.Id">@item.Name</option>
										}
									}
								</select>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">สาขา</label>
							<div class="">
								<select id="Branch" class="selectpicker selectInit" data-style="select_btn_set" title="ทั้งหมด" data-actions-box="true" data-live-search="true" data-selected-text-format="count" multiple>
									@if (LookUp.Branchs?.Count > 0)
									{
										foreach (var item in LookUp.Branchs)
										{
											<option value="@item.BranchID">@item.BranchName</option>
										}
									}
								</select>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ผู้รับผิดชอบ</label>
							<div class="">
								<select id="RMUser" class="selectpicker selectInit" data-style="select_btn_set" title="ทั้งหมด" data-actions-box="true" data-live-search="true" data-selected-text-format="count" multiple>
									@if (LookUp.RMUser?.Count > 0)
									{
										foreach (var item in LookUp.RMUser)
										{
											<option value="@item.UserId">@item.User?.FullName</option>
										}
									}
								</select>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">เริ่มต้น</label>
							<input type="date" class="form-control" @onchange="OnDateStart" value="@(filter.startdate.HasValue ? filter.startdate.Value.ToString("yyyy-MM-dd"):String.Empty)">
						</div>
						<div class="col mb-2">
							<label class="form-label">สิ้นสุด</label>
							<input type="date" class="form-control" @onchange="OnDateEnd" value="@(filter.enddate.HasValue ? filter.enddate.Value.ToString("yyyy-MM-dd"):String.Empty)">
						</div>
						<div class="col mb-2 mt-3">
							<button @onclick="Search" type="button" class="btn btn-primary text-white mw_7r w-100">
								<i class="fa fa-search fa-xs"></i> ค้นหา
							</button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="chart-view" style="position: relative;">
								<canvas id="avgdeal_bar1"></canvas>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-4">
						</div>
						<div class="col-8">
							<div class="row mt-5 filter_s">
								<div class="col mb-2">
									<label class="form-label">กิจการสาขาภาค</label>
									<div class="">
										<select id="DepBranchBottom" class="selectpicker" data-style="select_btn_set" data-actions-box="true" data-live-search="true">
											@if (LookUpBottom.DepartmentBranch?.Count > 0)
											{
												foreach (var item in LookUpBottom.DepartmentBranch)
												{
													<option value="@item.Id">@item.Name</option>
												}
											}
										</select>
									</div>
								</div>
								<div class="col mb-2">
									<label class="form-label text-white">_</label>
									<div class="">
										<select id="BranchBottom" class="selectpicker selectInit" data-dropup-auto="false" data-size="15" data-style="select_btn_set" data-actions-box="true" data-live-search="true" data-selected-text-format="count" multiple>
											@if (LookUpBottom.Branchs?.Count > 0)
											{
												foreach (var item in LookUpBottom.Branchs)
												{
													<option value="@item.BranchID">@item.BranchName</option>
												}
											}
										</select>
									</div>
								</div>
								<div class="col mb-2">
									<label class="form-label">สาขา</label>
									<div class="">
										<select id="BranchBottomEnd" class="selectpicker selectInit" data-style="select_btn_set" data-actions-box="true" data-live-search="true">
											@if (LookUpBottomEnd.Branchs?.Count > 0)
											{
												foreach (var item in LookUpBottomEnd.Branchs)
												{
													<option value="@item.BranchID">@item.BranchName</option>
												}
											}
										</select>
									</div>
								</div>
								<div class="col mb-2">
									<label class="form-label text-white">_</label>
									<div class="">
										<select id="RMUserBottomEnd" class="selectpicker selectInit" data-style="select_btn_set" data-actions-box="true" data-live-search="true" data-selected-text-format="count" multiple>
											@if (LookUpBottomEnd.RMUser?.Count > 0)
											{
												foreach (var item in LookUpBottomEnd.RMUser)
												{
													<option value="@item.UserId">@item.User?.FullName</option>
												}
											}
										</select>
									</div>
								</div>
								<div class="col mb-2 mt-3">
									<button @onclick="SearchBottom" type="button" class="btn btn-primary text-white mw_7r w-100">
										<i class="fa fa-search fa-xs"></i> ค้นหา
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-1 filter_s">
						<div class="col-12 col-xl-4">
							<label class="form-label">ภูมิภาค</label>
							<div class="chart-view" style="position: relative;">
								<canvas id="avgdeal_bar2"></canvas>
							</div>
						</div>
						<div class="col-12 col-xl-4">
							<div class="chart-view" style="position: relative;">
								<canvas id="avgdeal_bar3"></canvas>
							</div>
						</div>
						<div class="col-12 col-xl-4">
							<label class="form-label">สาขา</label>
							<div class="chart-view" style="position: relative;">
								<canvas id="avgdeal_bar4"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}

