
@page "/dashboard/avgsaleactclosedeal"

<PageTitle>กิจกรรมการขายโดยเฉลี่ยต่อดีลที่ปิดการขาย</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2">
							<a href="/dashboard"><img src="/image/icon/circle-left-x100.png" width="40" /></a>
						</div>
						<div class="p-2">
							<p class="back_topic">รายงานกิจกรรมการขายโดยเฉลี่ยต่อดีลที่ปิดการขาย</p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s">

						<div class="col mb-2">
							<label class="form-label">ค้นหาลูกค้า</label>
							<div class="input-group">
								<input @bind="filter.searchtxt" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ชื่อผู้ติดต่อ</label>
							<div class="input-group">
								<input @bind="filter.contact_name" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">สาขา</label>
							<select id="Branch" class="selectpicker selectInit" data-style="select_btn_set" title="ทั้งหมด" data-actions-box="true" data-live-search="true">
								@if (LookUp.Branchs?.Count > 0)
								{
									foreach (var item in LookUp.Branchs)
									{
										<option value="@item.BranchID">@item.BranchName</option>
									}
								}
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">จำนวนครั้งการติดต่อ</label>
							<div class="input-group">
								<input @bind="filter.contact" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">จำนวนการเข้าพบ</label>
							<div class="input-group">
								<input @bind="filter.meet" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">จำนวนครั้งการยื่นเอกสาร</label>
							<div class="input-group">
								<input @bind="filter.document" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2 mt-3">
							<button @onclick="Search" type="button" class="btn btn-primary text-white mw_7r w-100">
								<i class="fa fa-search fa-xs"></i> ค้นหา
							</button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">ลำดับที่</th>
											<th class="text-center">ชื่อลูกค้า</th>
											<th class="text-center">ชื่อผู้ติดต่อ</th>
											<th class="text-center">ศูนย์สาขา</th>
											<th class="text-center">ติดต่อ (ครั้ง)</th>
											<th class="text-center">เข้าพบ (ครั้ง)</th>
											<th class="text-center">ยื่นเอกสาร (ครั้ง)</th>
											<th class="text-center">รวม (ครั้ง)</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											int _orderNo = Pager != null ? (Pager.PageSize * Pager.CurrentPage - 10) : 0;
											int SequenceNo = 0;
											foreach (var item in Items)
											{
												<tr>
													<td class="text-center">@(_orderNo + (SequenceNo + 1))</td>
													<td class="">@item.Sale?.CompanyName</td>
													<td class="">@item.ContactName</td>
													<td class="">@item.Sale?.BranchName</td>
													<td class="text-center">@item.Contact</td>
													<td class="text-center">@item.Meet</td>
													<td class="text-center">@item.Document</td>
													<td class="text-center">@(item.Contact + item.Meet + item.Document)</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div>
						<PaginationBack DisplayItems="@(Items?.Count ?? 0)"
										TotalItems="@(Pager?.TotalItems ?? 0)"
										Pager="@Pager"
										OnShowOnPage="@OnSelectPagesize"
										OnSelectedPage="@OnSelectPage"
										ParameterAll="@filter?.SetParameter()">
						</PaginationBack>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}










