@page "/dashboard"

<PageTitle>รายงาน (Dashboard)</PageTitle>

@* @inherits SalesPipeline.PagesCode.Dashboards.DashboardCode *@

<link href="/css/dashboard.css?v=@(_appSet.Value.Version)" rel="stylesheet" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/monitor128x.png" width="55" /></div>
						<div class="p-2">
							<p class="back_topic">รายงาน</p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s">
						<div class="col mb-2">
							<label class="form-label">เริ่มต้น</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
								<option selected>ทั้งหมด</option>
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">สิ้นสุด</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">กิจการสาขา</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">สาขา</label>
							<select class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2 mt-3">
							<button type="button" class="btn btn-primary text-white mw_7r w-100">
								<i class="fa fa-search fa-xs"></i> ค้นหา
							</button>
						</div>
					</div>
					<div class="row text-center mb-3">
						<a href="/dashboard/totalimport" class="col-12 col-md-4 col-xl-2 pe-lg-1 mt-2 text-decoration-none">
							<div role="button" class="box-text_main box-1 w-100 px-2">
								<div class="box-text">
									<div class="mb-auto"><p class="">จำนวนลูกค้านำเข้าทั้งหมด</p></div>
									<div class=""><h3 class="mw_3r">@status_TotalModel.NumCusAll</h3></div>
								</div>
							</div>
						</a>
						<div class="col-12 col-md-4 col-xl-2 ps-lg-1 pe-lg-1 mt-2">
							<div role="button" class="box-text_main box-2 w-100 px-2">
								<div class="box-text">
									<div class="mb-auto"><p class="">รอผู้จัดการศูนย์มอบหมาย</p></div>
									<div class=""><h3 class="mw_3r">@status_TotalModel.NumCusWaitMCenterAssign</h3></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 col-xl-2 ps-lg-1 pe-md-auto pe-xl-1 mt-2">
							<div role="button" class="box-text_main box-3 w-100 px-2">
								<div class="box-text">
									<div class="mb-auto">
										<p class="">ผู้จัดการศูนย์มอบหมาย</p>
									</div>
									<div class="">
										<h3 class="mw_3r">
											@status_TotalModel.NumCusMCenterAssign
										</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 col-xl-2 ps-xl-1 pe-lg-1 mt-2">
							<div role="button" class="box-text_main box-4 w-100 px-2">
								<div class="box-text">
									<div class="mb-auto">
										<p class="">อยู่ในกระบวนการ</p>
									</div>
									<div class="">
										<h3 class="mw_3r">@status_TotalModel.NumCusInProcess</h3>
									</div>
								</div>
							</div>
						</div>
						<a href="/dashboard/returneditems" class="col-12 col-md-4 col-xl-2 ps-lg-1 pe-lg-1 mt-2 text-decoration-none">
							<div role="button" class="box-text_main box-5 w-100 px-2">
								<div class="box-text">
									<div class="mb-auto">
										<p class="">รายการส่งกลับ</p>
									</div>
									<div class="">
										<h3 class="mw_3r">@status_TotalModel.NumCusReturn</h3>
									</div>
								</div>
							</div>
						</a>
						<a href="/dashboard/notachievedtarget" class="col-12 col-md-4 col-xl-2 ps-lg-1 mt-2 text-decoration-none">
							<div role="button" class="box-text_main box-6 w-100 px-2">
								<div class="box-text">
									<div class="mb-auto">
										<p class="">พนักงานที่ไม่บรรลุเป้าหมาย</p>
									</div>
									<div class="">
										<h3 class="mw_3r">@status_TotalModel.NumCusTargeNotSuccess</h3>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="row">
						<div class="col-12 col-xl-4 pe-xl-1 mb-3">
							<div class="box_content border border-secondary-subtle h-100">
								<div role="button" class="box-text_main w-100 px-2">
									<div class="box-text text-blue">
										<div class="mb-auto">
											<p class="">Sales Pipeline</p>
										</div>
										<div class="d-flex align-items-end">
											<div class="pipeline p-1">
												<div class="funnel_outer">
													<ul>
														<li class="funnel_step_1">
															<div>
																<p class="step_text">จำนวนลูกค้านำเข้าทั้งหมด</p>
																<p class="step_val">1000</p>
															</div>
														</li>
														<li class="funnel_step_2">
															<div>
																<p class="step_text">จำนวนลูกค้าสนใจ</p>
																<p class="step_val">400</p>
															</div>
														</li>
														<li class="funnel_step_3">
															<div>
																<p class="step_text">ยื่นอนุมัติ</p>
																<p class="step_val">350</p>
															</div>
														</li>
														<li class="funnel_step_4">
															<div>
																<p class="step_text">ผ่าน</p>
																<p class="step_val">200</p>
															</div>
														</li>
														<li class="funnel_step_5">
															<div>
																<p class="step_text">กู้</p>
																<p class="step_val">150</p>
															</div>
														</li>
													</ul>
												</div>
												@* <ul>
											<li>จำนวนลูกค้านำเข้าทั้งหมด</li>
											<li>จำนวนลูกค้าสนใจ</li>
											<li>ยื่นอนุมัติ</li>
											<li>ผ่าน</li>
											<li>กู้</li>
											</ul> *@
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-xl-8">
							<div class="row text-center">
								<a href="/dashboard/avgeperdeal" class="col-12 col-xl-4 pe-xl-1 mb-3 text-decoration-none">
									<div class="box_content border border-secondary-subtle">
										<div role="button" class="box-text_main w-100 px-2">
											<div class="box-text text-blue">
												<div class="mb-auto">
													<p class="">มูลค่าเฉลี่ยต่อหนึ่งดีล</p>
												</div>
												<div class="d-flex align-items-end">
													<h5 class="mw_3r">@avg_NumberModel.AvgPerDeal.ToString("#,##0") บาท</h5>
												</div>
											</div>
										</div>
									</div>
								</a>
								<a href="/dashboard/avgdurationclosesale" class="col-12 col-xl-4 pe-xl-1 mb-3 text-decoration-none">
									<div class="box_content border border-secondary-subtle">
										<div role="button" class="box-text_main w-100 px-2">
											<div class="box-text text-blue">
												<div class="mb-auto">
													<p class="">ระยะเวลาเฉลี่ยที่ใช้ในการปิดการขาย</p>
												</div>
												<div class="d-flex align-items-end">
													<h5 class="mw_3r">@avg_NumberModel.AvgTimeCloseSale วัน</h5>
												</div>
											</div>
										</div>
									</div>
								</a>
								<a href="/dashboard/avgdurationlostsale" class="col-12 col-xl-4 mb-3 text-decoration-none">
									<div class="box_content border border-secondary-subtle">
										<div role="button" class="box-text_main w-100 px-2">
											<div class="box-text text-blue">
												<div class="mb-auto">
													<p class="">ระยะเวลาเฉลี่ยที่ใช้ในการขายที่แพ้ให้กับคู่แข่ง</p>
												</div>
												<div class="d-flex align-items-end">
													<h5 class="mw_3r">@avg_NumberModel.AvgTimeLostSale วัน</h5>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="row text-center">
								<a href="/dashboard/closingsale" class="col-12 col-xl pe-xl-1 pe-xxl-1 mb-3 text-decoration-none">
									<div class="box_content border border-secondary-subtle">
										<div role="button" class="box-text_main w-100 px-0">
											<div class="box-text text-blue">
												<div class="mb-auto">
													<p class="">การปิดการขาย</p>
												</div>
												<div class="d-flex align-items-end mt-2">
													<div class="chart-container" style="position: relative; height:33vh;max-width: 300px;">
														<canvas id="closesale"></canvas>
													</div>
												</div>
											</div>
										</div>
									</div>
								</a>
								<a href="/dashboard/reasonnotloan" class="col-12 col-xl pe-xxl-1 mb-3 text-decoration-none">
									<div class="box_content border border-secondary-subtle">
										<div role="button" class="box-text_main w-100 px-0">
											<div class="box-text text-blue">
												<div class="mb-auto">
													<p class="">เหตุผลไม่ประสงค์ขอสินเชื่อ</p>
												</div>
												<div class="d-flex align-items-end mt-2">
													<div class="chart-container" style="position: relative; height:33vh; max-width:300px;">
														<canvas id="reasonnotloan"></canvas>
													</div>
												</div>
											</div>
										</div>
									</div>
								</a>
								<a href="/dashboard/targetsales" id="elm_targetsales" class="col-12 col-xl-3 mb-3 text-decoration-none">
									<div class="box_content border border-secondary-subtle">
										<div role="button" class="box-text_main w-100 px-2">
											<div class="box-text text-blue">
												<div class="mb-auto">
													<p class="">เป้ายอดการขาย</p>
												</div>
												<div class="d-flex align-items-end mt-2">
													<div class="chart-container" style="position: relative; height:33vh;">
														<canvas id="targetsales"></canvas>
														@* <p>50,000,000</p>
													<p>35,000,000</p> *@
													</div>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="@(UserInfo.RoleCode == RoleCodes.MCENTER ? "d-none":"")">
						<div class="row text-center">
							<a href="/dashboard/topsales" class="col-12 col-lg-6 col-xl-6 col-xxl-4 pe-xxl-1 mb-3 text-decoration-none">
								<div class="box_content border border-secondary-subtle">
									<div role="button" class="box-text_main w-100 px-2">
										<div class="box-text text-blue">
											<div class="mb-auto">
												<p class="">10 อันดับ ศูนย์ยอดขายสูงสุด</p>
											</div>
											<div class="d-flex align-items-end mt-2">
												<div class="mapbox">
													<div class="row maptop10">
														@if (map_ThailandModel.Count > 0)
														{
															var map_ThailandType1 = map_ThailandModel.Where(x => x.Type == 1).OrderByDescending(x => x.SalesAmount).ToList();

															<div class="col-12 col-xl">
																<MapThailand map_ThailandModel="map_ThailandType1" Type="1" />
															</div>
															<div class="col-12 col-xl-6">
																<table class="tbl_top10 table table-bordered border-white table-striped">
																	<thead class="">
																		<tr>
																			<th scope="col">ศูนย์</th>
																			<th scope="col">ยอดขาย</th>
																		</tr>
																	</thead>
																	<tbody>
																		@if (map_ThailandType1.Count > 0)
																		{
																			foreach (var item in map_ThailandType1)
																			{
																				<tr>
																					<td>@item.ProvinceName</td>
																					<td>@item.SalesAmount.ToString("#,##0")</td>
																				</tr>
																			}
																		}
																	</tbody>
																</table>
															</div>
															<div class="col-12">
																@if (map_ThailandType1.Count > 0)
																{
																	<ul class="map-info">
																		<li class="left info"><span class="number">@map_ThailandType1.Min(x => x.SalesAmount).ToString("#,##0")</span></li>
																		<li class="center"><div class="progress-map"></div></li>
																		<li class="right info"><span class="number">@map_ThailandType1.Max(x => x.SalesAmount).ToString("#,##0")</span></li>
																	</ul>
																}
															</div>
														}
														else
														{
															<div class="col-12 mh_20r">
																<div class="text-center">
																	<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-2xl"></i>
																</div>
															</div>
														}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
							<a href="/dashboard/lostsales" class="col-12 col-lg-6 col-xl-6 col-xxl-4 pe-xxl-1 mb-3 text-decoration-none">
								<div class="box_content border border-secondary-subtle">
									<div role="button" class="box-text_main w-100 px-2">
										<div class="box-text text-blue">
											<div class="mb-auto">
												<p class="">10 อันดับ ศูนย์ที่แพ้ให้กับคู่แข่งสูงสุด</p>
											</div>
											<div class="d-flex align-items-end mt-2">
												<div class="mapbox">
													<div class="row mapcenterlost10">
														@if (map_ThailandModel.Count > 0)
														{
															var map_ThailandType2 = map_ThailandModel.Where(x => x.Type == 2).OrderBy(x => x.SalesAmount).ToList();

															<div class="col-12 col-xl">
																<MapThailand map_ThailandModel="map_ThailandType2" />
															</div>
															<div class="col-12 col-xl-6">
																<table class="tbl_top10 table table-bordered border-white table-striped">
																	<thead class="">
																		<tr>
																			<th scope="col">ศูนย์</th>
																			<th scope="col">ยอดขาย</th>
																		</tr>
																	</thead>
																	<tbody>
																		@if (map_ThailandType2.Count > 0)
																		{
																			foreach (var item in map_ThailandType2)
																			{
																				<tr>
																					<td>@item.ProvinceName</td>
																					<td>@item.SalesAmount.ToString("#,##0")</td>
																				</tr>
																			}
																		}
																	</tbody>
																</table>
															</div>
															<div class="col-12">
																@if (map_ThailandType2.Count > 0)
																{
																	<ul class="map-info">
																		<li class="left info"><span class="number">@map_ThailandType2.Min(x => x.SalesAmount).ToString("#,##0")</span></li>
																		<li class="center"><div class="progress-map"></div></li>
																		<li class="right info"><span class="number">@map_ThailandType2.Max(x => x.SalesAmount).ToString("#,##0")</span></li>
																	</ul>
																}
															</div>
														}
														else
														{
															<div class="col-12 mh_20r">
																<div class="text-center">
																	<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-2xl"></i>
																</div>
															</div>
														}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
							<a href="/dashboard/durationonstage" class="col-12 col-xl mb-3 text-decoration-none">
								<div class="box_content border border-secondary-subtle h-100">
									<div role="button" class="box-text_main w-100 px-2">
										<div class="box-text text-blue">
											<div class="mb-auto">
												<p class="">ระยะเวลาเฉลี่ยที่ใช้ในแต่ละสเตจ</p>
											</div>
											<div class="d-flex align-items-end w-100">
												<div class="" style="position: relative; height:33vh;width: 100%;">
													<canvas id="durationonstage"></canvas>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="row">
							<div class="col">
								<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-3 mt-1 text-center">
									<a class="col text-decoration-none" href="/dashboard/avgdealorg">
										<div class="box_content border border-secondary-subtle">
											<div role="button" class="box-text_main w-100 px-2">
												<div class="box-text text-blue">
													<div class="mb-auto">
														<p class="">ดีลโดยเฉลี่ยต่อองค์กร</p>
													</div>
													<div class="d-flex align-items-end">
														<h3 class="mw_3r">@avg_NumberModel.AvgDealOrg ดีล</h3>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a class="col text-decoration-none" href="/dashboard/avgsaleactclosedeal">
										<div class="box_content border border-secondary-subtle">
											<div role="button" class="box-text_main w-100 px-2">
												<div class="box-text text-blue">
													<div class="mb-auto">
														<p class="">กิจกรรมการขายโดยเฉลี่ยต่อดีลที่ปิดการขาย</p>
													</div>
													<div class="d-flex align-items-end">
														<h3 class="mw_3r">@avg_NumberModel.AvgSaleActcloseDeal กิจกรรม</h3>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a class="col text-decoration-none" href="/dashboard/avgdeliveryduration">
										<div class="box_content border border-secondary-subtle">
											<div role="button" class="box-text_main w-100 px-2">
												<div class="box-text text-blue">
													<div class="mb-auto">
														<p class="">ระยะเวลาเฉลี่ยในการส่งมอบ</p>
													</div>
													<div class="d-flex align-items-end">
														<h3 class="mw_3r">@avg_NumberModel.AvgDeliveryTime วัน</h3>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a class="col text-decoration-none" href="/dashboard/avgdealrm">
										<div class="box_content border border-secondary-subtle">
											<div role="button" class="box-text_main w-100 px-2">
												<div class="box-text text-blue">
													<div class="mb-auto">
														<p class="">ดีลโดยเฉลี่ยต่อพนักงานสินเชื่อ</p>
													</div>
													<div class="d-flex align-items-end">
														<h3 class="mw_3r">@avg_NumberModel.AvgDealRM ดีล</h3>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-4 g-3 mt-1 text-center">
									<a class="col text-decoration-none" href="/dashboard/avgdealorg">
										<div class="box_content border border-secondary-subtle h-100">
											<div role="button" class="box-text_main w-100 px-0">
												<div class="box-text text-blue">
													<div class="mb-auto">
														<p class="">จำนวนลูกค้าตามขนาดธุรกิจ</p>
													</div>
													<div class="d-flex align-items-end">
														<div class="chart-container" style="position: relative; height:33vh;">
															<canvas id="numcussizebusiness"></canvas>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a class="col text-decoration-none" href="/dashboard/avgsaleactclosedeal">
										<div class="box_content border border-secondary-subtle h-100">
											<div role="button" class="box-text_main w-100 px-0">
												<div class="box-text text-blue">
													<div class="mb-auto">
														<p class="">จำนวนลูกค้าตามประเภทธุรกิจ</p>
													</div>
													<div class="d-flex align-items-end">
														<div class="chart-container" style="position: relative; height:33vh;">
															<canvas id="numcustypebusiness"></canvas>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a class="col text-decoration-none" href="/dashboard/avgdeliverytime">
										<div class="box_content border border-secondary-subtle h-100">
											<div role="button" class="box-text_main w-100 px-0">
												<div class="box-text text-blue">
													<div class="mb-auto">
														<p class="">จำนวนลูกค้าตาม ISIC Code</p>
													</div>
													<div class="d-flex align-items-end">
														<div class="chart-container" style="position: relative; height:33vh;">
															<canvas id="numcusisiccode"></canvas>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a class="col text-decoration-none" href="/dashboard/avgdealrm">
										<div class="box_content border border-secondary-subtle h-100">
											<div role="button" class="box-text_main w-100 px-0">
												<div class="box-text text-blue">
													<div class="mb-auto">
														<p class="">จำนวนลูกค้าตามประเภทสินเชื่อ</p>
													</div>
													<div class="d-flex align-items-end">
														<div class="chart-container" style="position: relative; height:33vh;">
															<canvas id="numcusloantype"></canvas>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-4 g-3 mt-1 text-center">
									<a class="col text-decoration-none" href="/dashboard/avgdealorg">
										<div class="box_content border border-secondary-subtle h-100">
											<div role="button" class="box-text_main w-100 px-0">
												<div class="box-text text-blue">
													<div class="mb-auto">
														<p class="">มูลค่าสินเชื่อตามขนาดธุรกิจ</p>
													</div>
													<div class="d-flex align-items-end">
														<div class="chart-container" style="position: relative; height:33vh;">
															<canvas id="valuesizebusiness"></canvas>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a class="col text-decoration-none" href="/dashboard/avgsaleactclosedeal">
										<div class="box_content border border-secondary-subtle h-100">
											<div role="button" class="box-text_main w-100 px-0">
												<div class="box-text text-blue">
													<div class="mb-auto">
														<p class="">มูลค่าสินเชื่อตามประเภทธุรกิจ</p>
													</div>
													<div class="d-flex align-items-end">
														<div class="chart-container" style="position: relative; height:33vh;">
															<canvas id="valuetypebusiness"></canvas>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a class="col text-decoration-none" href="/dashboard/avgdeliverytime">
										<div class="box_content border border-secondary-subtle h-100">
											<div role="button" class="box-text_main w-100 px-0">
												<div class="box-text text-blue">
													<div class="mb-auto">
														<p class="">มูลค่าสินเชื่อตาม ISIC Code</p>
													</div>
													<div class="d-flex align-items-end">
														<div class="chart-container" style="position: relative; height:33vh;">
															<canvas id="valueisiccode"></canvas>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a class="col text-decoration-none" href="/dashboard/avgdealrm">
										<div class="box_content border border-secondary-subtle h-100">
											<div role="button" class="box-text_main w-100 px-0">
												<div class="box-text text-blue">
													<div class="mb-auto">
														<p class="">มูลค่าสินเชื่อตามประเภทสินเชื่อ</p>
													</div>
													<div class="d-flex align-items-end">
														<div class="chart-container" style="position: relative; height:33vh;">
															<canvas id="valueloantype"></canvas>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}
