
@page "/dashboard/lostsales"

<PageTitle>10 อันดับ จังหวัดที่แพ้ให้กับคู่แข่งสูงสุด</PageTitle>


<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2">
							<a href="/dashboard"><img src="/image/icon/circle-left-x100.png" width="40" /></a>
						</div>
						<div class="p-2">
							<p class="back_topic">รายงาน 10 อันดับ จังหวัดที่แพ้ให้กับคู่แข่งสูงสุด</p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s">
						<div class="col mb-2">
							<label class="form-label">จังหวัด</label>
							<select @onchange="OnProvince" value="@filter.provinceid" id="Province" class="selectpickerdefault" data-style="select_btn_set" data-live-search="true">
								<option value="">ทั้งหมด</option>
								@if (LookUp.Provinces?.Count > 0)
								{
									foreach (var item in LookUp.Provinces)
									{
										<option value="@item.ProvinceID">@item.ProvinceName</option>
									}
								}
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">เรียง</label>
							<select @onchange="OnSort" id="DisplaySort" class="selectpickerdefault" data-style="select_btn_set" data-live-search="true">
								<option value="">ค่าเริ่มต้น</option>
								<option value="@OrderByModel.ASC">น้อย ไป มาก</option>
								<option value="@OrderByModel.DESC">มาก ไป น้อย</option>
							</select>
						</div>
						<div class="col mb-2 mt-3">
							<div class="d-flex flex-row">
								<div class="pe-3">
									<button @onclick="Search" type="button" class="btn btn-primary text-white mw_6r w-100">
										<i class="fa fa-search fa-xs"></i> ค้นหา
									</button>
								</div>
								<div class="pe-2">
									<button @onclick="ExportExcel" type="button" class="btn btn-success text-white mw_6r w-100">
										<i class="fa-regular fa-file-excel"></i> ส่งออก
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">จังหวัด</th>
											<th class="text-center">ยอดขาย</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											foreach (var item in Items)
											{
												<tr>
													<td class="">@item.ProvinceName</td>
													<td class="text-center">@item.SalesAmount.ToString(GeneralTxt.FormatDecimal2)</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}

