@page "/dashboard/notachievedtarget"

<PageTitle>รายงานพนักงานที่ไม่บรรลุเป้าหมาย</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2">
							<a href="/dashboard"><img src="/image/icon/circle-left-x100.png" width="40" /></a>
						</div>
						<div class="p-2">
							<p class="back_topic">รายงานพนักงานที่ไม่บรรลุเป้าหมาย</p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s">
						<div class="col mb-2">
							<label class="form-label">รหัสพนักงาน</label>
							<div class="input-group">
								<input @bind="filter.emp_id" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ชื่อ-สกุล</label>
							<div class="input-group">
								<input @bind="filter.emp_name" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">กิจการสาขาภาค</label>
							<div class="">
								<select id="DepBranch" class="selectpicker" data-style="select_btn_set" title="ทั้งหมด" data-actions-box="true" data-live-search="true">
									@if (LookUp.DepartmentBranch?.Count > 0)
									{
										foreach (var item in LookUp.DepartmentBranch)
										{
											<option value="@item.Id">@item.Name</option>
										}
									}
								</select>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">สาขา</label>
							<div class="">
								<select id="Branch" class="selectpicker selectInit" data-style="select_btn_set" title="ทั้งหมด" data-actions-box="true" data-live-search="true">
									@if (LookUp.Branchs?.Count > 0)
									{
										foreach (var item in LookUp.Branchs)
										{
											<option value="@item.BranchID">@item.BranchName</option>
										}
									}
								</select>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ยอดเป้าหมาย</label>
							<div class="input-group">
								<input @bind="filter.amounttarget" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">การบรรลุเป้าหมาย</label>
							<select @bind="filter.achieve_goal" class="selectpicker selectInit" data-style="select_btn_set" data-live-search="true">
								<option value="0">ทั้งหมด</option>
								<option value="1">สำเร็จ</option>
								<option value="2">ยังไม่สำเร็จ</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">ปี</label>
							<div class="">
								<select @onchange="OnYear" class="form-select">
									@if (LookUp.Years?.Count > 0)
									{
										foreach (var item in LookUp.Years)
										{
											<option value="@item.Name">@item.Name</option>
										}
									}
								</select>
							</div>
						</div>
						<div class="col mb-2 mt-3">
							<div class="d-flex flex-row">
								<div class="pe-3">
									<button @onclick="Search" type="button" class="btn btn-primary text-white mw_7r w-100">
										<i class="fa fa-search fa-xs"></i> ค้นหา
									</button>
								</div>
								<div class="pe-2">
									<button @onclick="ExportExcel" type="button" class="btn btn-success text-white mw_7r w-100">
										<i class="fa-regular fa-file-excel"></i> ส่งออก
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">รหัสพนักงาน</th>
											<th class="text-center">ชื่อ-สกุล</th>
											<th class="text-center">กิจการสาขาภาค</th>
											<th class="text-center">สาขา</th>
											<th class="text-center">ยอดเป้าหมาย</th>
											<th class="text-center">ยอดที่ทำได้</th>
											<th class="text-center">การบรรลุเป้าหมาย</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											foreach (var item in Items)
											{
												<tr>
													<td class="text-center">@item.User?.EmployeeId</td>
													<td class="">@item.User?.FullName</td>
													<td class="text-center">
														@GeneralUtils.EmptyTo(GetDepBranchName(item.User?.Master_Branch_RegionId))
													</td>
													<td class="text-center">
														@item.User?.BranchName
													</td>
													<td class="text-center">@item.AmountTarget.ToString(GeneralTxt.FormatDecimal2)</td>
													<td class="text-center">
														<span class="@(!item.IsSuccessTarger ? "text-danger":"")">@item.AmountActual.ToString(GeneralTxt.FormatDecimal2)</span>
													</td>
													<td class="text-center">
														@if (item.IsSuccessTarger)
														{
															<span>สำเร็จ</span>
														}
														else
														{
															<span class="text-danger">ยังไม่สำเร็จ</span>
														}
													</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div>
						<PaginationBack DisplayItems="@(Items?.Count ?? 0)"
										TotalItems="@(Pager?.TotalItems ?? 0)"
										Pager="@Pager"
										OnShowOnPage="@OnSelectPagesize"
										OnSelectedPage="@OnSelectPage"
										ParameterAll="@filter?.SetParameter()">
						</PaginationBack>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}


