@page "/admin"

<PageTitle>ระบบผู้ใช้งาน</PageTitle>

<MessageError errorMessage="@_errorMessage" />

<link href="/css/switch.css" rel="stylesheet" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><i class="fa-solid fa-user-gear text-secondary fs_2r"></i></div>
						<div class="p-2">
							<p class="back_topic">ระบบผู้ใช้งาน</p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s">
						<div class="col mb-2">
							<label class="form-label">รหัสพนักงาน</label>
							<div class="input-group">
								<input @bind="filter.employeeid" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ชื่อ-สกุล</label>
							<div class="input-group">
								<input @bind="filter.fullname" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ตำแหน่ง</label>
							<select @onchange="((e) => OnPositions(e))" class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option value="">ทั้งหมด</option>
								@if (LookUp.Positions?.Count > 0)
								{
									foreach (var item in LookUp.Positions)
									{
										<option value="@item.Id">@item.Name</option>
									}
								}
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">ระดับ</label>
							<select @onchange="((e) => OnUserLevels(e))" class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option value="">ทั้งหมด</option>
								@if (LookUp.UserLevels?.Count > 0)
								{
									foreach (var item in LookUp.UserLevels)
									{
										<option value="@item.Id">@item.Name</option>
									}
								}
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">สถานะ</label>
							<select @onchange="OnStatus" class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option value="">สถานะทั้งหมด</option>
								<option value="@StatusModel.Active">ใช้งาน</option>
								<option value="@StatusModel.InActive">ไม่ใช้งาน</option>
							</select>
						</div>
						<div class="col mb-2 mt-3 text-end">
							<Dropdown Class="w-100">
								<DropdownToggleButton Color="ButtonColor.Primary"><i class="fa-solid fa-plus"></i> เพิ่มรายการ</DropdownToggleButton>
								<DropdownMenu>
									<DropdownItem To="/admin/create" Type="ButtonType.Link">รายบุคคล</DropdownItem>
									<DropdownItem To="/admin/uploadfile" Type="ButtonType.Link">ไฟล์แนบ</DropdownItem>
								</DropdownMenu>
							</Dropdown>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">ลำดับที่</th>
											<th class="text-center">รหัสพนักงาน</th>
											<th class="text-center">ชื่อ-สกุล</th>
											<th class="text-center">ระดับหน้าที่</th>
											<th class="text-center">ตำแหน่ง</th>
											<th class="text-center">ระดับ</th>
											<th class="text-center">วันที่เพิ่ม</th>
											<th class="text-center">จัดการ</th>
											<th class="text-center">การใช้งาน</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											int _orderNo = Pager != null ? (Pager.PageSize * Pager.CurrentPage - 10) : 0;
											int SequenceNo = 0;
											foreach (var item in Items)
											{
												bool status = item.Status == StatusModel.Active;

												<tr>
													<td class="text-center">@(_orderNo + (SequenceNo + 1))</td>
													<td class="text-center">@item.EmployeeId</td>
													<td class="">@item.FullName</td>
													<td class="text-center">
														@if (item.Role != null)
														{
															<p>@item.Role.Name</p>
														}
													</td>
													<td class="text-center">@GetPositionName(item.PositionId)</td>
													<td class="text-center">@GetLevelName(item.LevelId)</td>
													<td class="text-center">@GeneralUtils.getFullThaiShot(item.CreateDate)</td>
													<td class="text-center">
														<a href="/admin/update/@item.Id">แก้ไข</a> /
														<a class="text-action" role="button" @onclick='(()=> ConfirmDelete(item.Id.ToString(),item.FullName))'>ลบ</a>
													</td>
													<td class="text-center">
														<label class="switch">
															<input type="checkbox" @oninput="((e)=> StatusChanged(e,item.Id))" checked="@status" />
															<span class="slider round"></span>
														</label>
													</td>
												</tr>
												SequenceNo++;
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div>
						<PaginationBack DisplayItems="@(Items?.Count ?? 0)"
										TotalItems="@(Pager?.TotalItems ?? 0)"
										Pager="@Pager"
										OnShowOnPage="@OnSelectPagesize"
										OnSelectedPage="@OnSelectPage"
										ParameterAll="@filter?.SetParameter()">
						</PaginationBack>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ModalConfirm @ref="modalConfirm" CallbackConfirm="Delete" />
}
else
{
	<NotPermissionPage />
}


