@page "/assign/center"

<PageTitle>มอบหมายผู้จัดการศูนย์</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				@if (stepAssign == StepAssignLoanModel.Home)
				{
					<div class="box_content">
						<div class="d-flex flex-row align-items-center mb-3 border-bottom">
							<div class="p-2"><img src="/image/icon/assign_user128x.png" width="55" /></div>
							<div class="p-2">
								<p class="back_topic">มอบหมายผู้จัดการศูนย์</p>
							</div>
						</div>
						<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s">
							<div class="col mb-2">
								<label class="form-label">รหัสพนักงาน</label>
								<div class="input-group">
									<input @bind="filter.emp_id" class="form-control" type="search" placeholder="">
									<span class="input-group-append ms-0">
										<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</div>
							<div class="col mb-2">
								<label class="form-label">ชื่อพนักงาน</label>
								<div class="input-group">
									<input @bind="filter.emp_name" class="form-control" type="search" placeholder="">
									<span class="input-group-append ms-0">
										<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</div>
							<div class="col mb-2">
								<label class="form-label">จังหวัด</label>
								<select value="@filter.provinceid" id="Province" class="selectpickerdefault " data-style="select_btn_set" data-live-search="true">
									<option value="">ทั้งหมด</option>
									@if (LookUp.Provinces?.Count > 0)
									{
										foreach (var item in LookUp.Provinces)
										{
											<option value="@item.ProvinceID">@item.ProvinceName</option>
										}
									}
								</select>
							</div>
							<div class="col mb-2 mt-3">
								<button @onclick="Search" type="button" class="btn btn-primary text-white mw_6r w-100">
									<i class="fa fa-search fa-xs"></i> ค้นหา
								</button>
							</div>
							<div class="col mb-2 mt-3">
								<a href="/assign/center/manual" class="btn btn-secondary text-white mw_6r w-100">
									<i class="fa-solid fa-gears fa-xs"></i> จัดการ Manual
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="table-responsive border-top">
									<table class="table table_list">
										<thead>
											<tr>
												<th class="text-center">รหัสพนักงาน</th>
												<th class="text-center">ชื่อพนักงาน</th>
												<th class="text-center">พื้นที่ดูแล</th>
												<th class="text-center">จำนวนพนง.สินเชื่อ</th>
												<th class="text-center">ลูกค้าดูแลปัจจุบัน</th>
												<th class="text-center">จำนวนการมอบหมาย</th>
												<th class="text-center">ลูกค้าหลังมอบหมาย</th>
												<th class="text-center">รายละเอียด</th>
											</tr>
										</thead>
										<tbody>
											@if (Items == null)
											{
												<tr class="text-center align-middle">
													<td colspan="100">
														<Spinner Class="my-2" Type="SpinnerType.Dots" Color="SpinnerColor.Secondary" />
													</td>
												</tr>
											}
											else if (Items.Count == 0)
											{
												<tr class="text-center align-middle">
													<td colspan="100">
														<em>(ไม่มีข้อมูลสำหรับการหมอบหมาย)</em>
													</td>
												</tr>
											}
											else
											{

												foreach (var item in Items)
												{
													<tr>
														<td class="text-center">@item.EmployeeId</td>
														<td class="text-center">@item.EmployeeName</td>
														<td class="text-center">
															@if (item.User?.User_Areas?.Count > 0)
															{
																string provinceNames = string.Join(",", item.User.User_Areas.Select(x => x.ProvinceName));
																@GeneralUtils.EmptyTo(provinceNames)
															}
															else
															{
																<span>-</span>
															}
														</td>
														<td class="text-center">
															@GeneralUtils.EmptyTo(item.RMNumber)
														</td>
														<td class="text-center">@(item.CurrentNumber)/100</td>
														<td class="text-center">
															@GeneralUtils.EmptyTo(item.NumberAssignment)
														</td>
														<td class="text-center">
															@GeneralUtils.EmptyTo(item.NumberAfterAssignment)/100
														</td>
														<td class="text-center">
															<a role="button">
																<img src="/image/icon/ckeckbox.png" width="25" />
															</a>
														</td>
													</tr>
												}
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div>
							@* <PaginationBack DisplayItems="@(ItemsCenter?.Count ?? 0)"
					TotalItems="@(PagerCenter?.TotalItems ?? 0)"
					Pager="@PagerCenter"
					OnSelectedPage="@OnSelectPageCenter"
					ParameterAll="@filterCenter?.SetParameter()">
					</PaginationBack> *@
						</div>
						<div class="my-4 text-center">
							<div class="d-flex bd-highlight align-items-center justify-content-center">
								<div class="p-2 bd-highlight">
									@if (Items?.Count > 0)
									{
										<Button @onclick="InitShowConfirmAssign" Color="ButtonColor.Primary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
											มอบหมาย
										</Button>
									}
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<ModalConfirm @ref="modalConfirmAssign" CallbackConfirm="ConfirmAssign" isLoading="isLoading" _errorMessage="@_errorMessageModal" />
	<ModalSuccessful @ref="modalSuccessfulAssign" />

}
else
{
	<NotPermissionPage />
}



