@page "/setting/targetsales"

<PageTitle>เป้าหมายการขาย</PageTitle>

<MessageError errorMessage="@_errorMessage" />

<link href="/css/switch.css" rel="stylesheet" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/assign_user128x.png" width="55" /></div>
						<div class="p-2">
							<p class="back_topic">เป้าหมายการขาย</p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s">
						<div class="col mb-2">
							<label class="form-label">รหัสพนักงาน</label>
							<div class="input-group">
								<input @bind="filter.emp_id" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ชื่อ-สกุล</label>
							<div class="input-group">
								<input @bind="filter.emp_name" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">กิจการสาขาภาค</label>
							<div class="">
								<select id="DepBranch" class="selectpicker" data-style="select_btn_set" title="ทั้งหมด" data-actions-box="true" data-live-search="true">
									@if (LookUp.DepartmentBranch?.Count > 0)
									{
										foreach (var item in LookUp.DepartmentBranch)
										{
											<option value="@item.Id">@item.Name</option>
										}
									}
								</select>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">จังหวัด</label>
							<select id="Province" class="selectpicker selectInit" title="ทั้งหมด" data-style="select_btn_set" data-live-search="true">
								@if (LookUp.Provinces?.Count > 0)
								{
									foreach (var item in LookUp.Provinces)
									{
										<option value="@item.ProvinceID">@item.ProvinceName</option>
									}
								}
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">สาขา</label>
							<div class="">
								<select id="Branch" class="selectpicker selectInit" data-style="select_btn_set" title="ทั้งหมด" data-actions-box="true" data-live-search="true">
									@if (LookUp.Branchs?.Count > 0)
									{
										foreach (var item in LookUp.Branchs)
										{
											<option value="@item.BranchID">@item.BranchName</option>
										}
									}
								</select>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">ปี</label>
							<div class="">
								<select @onchange="OnYear" class="form-select">
									@if (LookUp.Years?.Count > 0)
									{
										foreach (var item in LookUp.Years)
										{
											<option value="@item.Name">@item.Name</option>
										}
									}
								</select>
							</div>
						</div>
						<div class="col mb-2 mt-3">
							<button @onclick="Search" type="button" class="btn btn-primary text-white mw_6r w-100">
								<i class="fa fa-search fa-xs"></i> ค้นหา
							</button>
						</div>
					</div>
					<div class="row my-2 mb-3 d-flex align-items-center justify-content-end">
						<div class="col-12 col-xl-8">
						</div>
						@if (!isSetting)
						{
							<div class="col">
								<button @onclick="SetSetting" type="button" class="btn btn-primary text-white mw_7r">
									ตั้งค่ายอดเป้าหมาย
								</button>
							</div>
						}
						else
						{
							bool isSetTarget = ItemsSelected.Count() == 0 ? true : false;

							<div class="col">
								<button @onclick="SetSetting" type="button" class="btn btn-secondary text-white mw_7r">
									ยกเลิก
								</button>
							</div>
							<div class="col">
								<button @onclick="OnShowModal" type="button" class="btn btn-primary text-white mw_7r" disabled=@isSetTarget >
									กำหนดยอด
								</button>
							</div>
						}
						<div class="col">
							<span>จำนวน : @(ItemsSelected.Count())</span>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center"></th>
											<th class="text-center">ปี</th>
											<th class="text-center">รหัสพนักงาน</th>
											<th class="text-center">ชื่อพนักงาน</th>
											<th class="text-center">กิจการสาขาภาค</th>
											<th class="text-center">จังหวัด</th>
											<th class="text-center">ศูนย์สาขา</th>
											<th class="text-center">ยอดเป้าหมาย</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											int _orderNo = Pager != null ? (Pager.PageSize * Pager.CurrentPage - 10) : 0;
											int SequenceNo = 0;
											foreach (var item in Items)
											{
												User_Target_SaleCustom user_Target = new();
												if (item.User_Target_SaleUsers != null && item.User_Target_SaleUsers.Count > 0)
												{
													user_Target = item.User_Target_SaleUsers.FirstOrDefault() ?? new();
												}

												<tr>
													@if (!isSetting)
													{
														<td class="text-center">@(_orderNo + (SequenceNo + 1))</td>
													}
													else
													{
														<td class="text-center">
															<div class="form-check d-flex justify-content-center">
																<input class="form-check-input" type="checkbox" checked="@item.IsSelected"
																	   @onchange="( (e) => OnCheckCustomer(item,e.Value))">
															</div>
														</td>
													}
													<td class="text-center">@filter.year</td>
													<td class="text-center">@item.EmployeeId</td>
													<td class="">@item.FullName</td>
													<td class="">@item.Master_Branch_Region?.Name</td>
													<td class="">@item.ProvinceName</td>
													<td class="">@item.BranchName</td>
													<td class="text-center">@user_Target.AmountTarget.ToString(GeneralTxt.FormatDecimal2)</td>
												</tr>
												SequenceNo++;
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div>
						<PaginationBack DisplayItems="@(Items?.Count ?? 0)"
										TotalItems="@(Pager?.TotalItems ?? 0)"
										Pager="@Pager"
										OnShowOnPage="@OnSelectPagesize"
										OnSelectedPage="@OnSelectPage"
										ParameterAll="@filter?.SetParameter()">
						</PaginationBack>
					</div>
				</div>
			</div>
		</div>
	</div>

	<Modal @ref="modalTarget"
		   Title=""
		   IsVerticallyCentered="true"
		   OnHidden="OnModalHidden"
		   HeaderCssClass="headermodal_default">
		<BodyTemplate>
			<div class="row mb-4 text-center">
				<h4 class="fw-bold">กำหนดยอดเป้าหมาย</h4>
			</div>
			<div class="row mb-4 text-center mx-3 d-flex align-items-center">
				<div class="col">
					<input type="text" class="form-control"
						   @onchange="@((ChangeEventArgs e) => amountTarget = GeneralUtils.ToDecimal(e.Value))"
						   value="@amountTarget.ToString(GeneralTxt.FormatDecimal2)">
				</div>
			</div>
			@if (!String.IsNullOrEmpty(_errorMessage))
			{
				<MessageError errorMessage="@_errorMessage" />
			}
			<div class="row my-3 text-center">
				<div class="d-flex justify-content-evenly align-items-center">
					<div class="p-2">
						<Button Class="mw_6r" Color="ButtonColor.Secondary" @onclick="OnHideModal">กลับ</Button>
					</div>
					<div class="p-2">
						<Button Class="mw_6r" Color="ButtonColor.Primary" @onclick="Save">ยืนยัน</Button>
					</div>
				</div>
			</div>
		</BodyTemplate>
	</Modal>
}
else
{
	<NotPermissionPage />
}

