@page "/signin"

@layout MainLayoutBlank

@using Microsoft.AspNetCore.Http.Features;

<section class="h-100 gradient-form" style="background-color: #e5eef6;">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-xl-5">
				<div class="card rounded-3">
					<div class="row g-0">
						<div class="col-lg-12">
							<div class="card-body p-md-5 mx-md-4">
								<div class="text-center fw-bold">
									<NavLink href="/">
										@if (_appSet.Value.Logo == LogoTypeModel.BAAC)
										{
											<img src="/image/logo/logo_bacc.png" width="100" />
										}
										else if (_appSet.Value.Logo == LogoTypeModel.FCC)
										{
											<img src="/image/logo/fcc_logo_white_bg.png" width="130" />
										}
									</NavLink>
									<h4 class="mt-5 pb-3">Log in to your account</h4>
									<EditForm Model="@loginModel" OnValidSubmit="SubmitLogin" class="bg-white p-2">
										<DataAnnotationsValidator />
										<div class="form-outline mb-4 text-start">
											<label class="form-label text-muted">Username</label>
											<input type="text" @bind="@loginModel.Username" class="form-control" placeholder="" />
											<ValidationMessage For="@(() => loginModel.Username)" />
										</div>
										<div class="form-outline mb-4 text-start">
											<label class="form-label text-muted">Password</label>
											<input type="@(toggleEye ? "text" : "password")" @bind="@loginModel.Password" class="form-control" />
											<Icon @onclick="TogglePassword" Name="@(toggleEye ? IconName.Eye : IconName.EyeSlash)" Class="field-icon"></Icon>
											<ValidationMessage For="@(() => loginModel.Password)" />
										</div>
										@* <div class="form-outline mb-4 text-start">
											<div class="form-check">
												<input @onchange="( (e) => OnRememberMe(e.Value))" class="form-check-input mt-0" type="checkbox" id="rememberMe">
												<label class="form-check-label text-muted ms-2" for="rememberMe">
													Remember me
												</label>
											</div>
										</div> *@
										<div class="text-center pt-1 mb-2 pb-1">
											<Button Color="ButtonColor.Info"
													Type="ButtonType.Submit"
													Disabled="@isLoading" Class="btn-block fa-lg gradient-custom-2 mb-3 w-100 text-white">
												@if (isLoading)
												{
													<span>
														<Spinner Color="SpinnerColor.Light" Size="SpinnerSize.Small" Class="mx-1" />
													</span>
												}
												Sign in
											</Button>
										</div>
										<div class="form-outline mb-4 text-start">
											<div class="row d-flex align-items-center">
												<div class="col-6">
													<a href="http://172.26.82.211:9105/resetpassword?redirecturl=@base64redirecturl">ลืมรหัสผ่าน</a>
												</div>
												<div class="col-6 text-end">
													<a href="https://iauthen.int.baac.or.th/about" target="_blank">
														<img src="/image/logo/iauthen_200px.png" width="25" />
													</a>
												</div>
											</div>
										</div>
										@if (_errorMessage is not null)
										{
											<div class="alert alert-danger alert-dismissible" role="alert">
												<p class="text-red">@_errorMessage</p>
											</div>
										}
									</EditForm>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
@if (isLoading)
{
	<div id="divLoadingBlank"></div>
}


