@page "/user/create"
@page "/user/update/{id:int}"

<PageTitle>จัดการ User</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content mh_40r">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><i class="fa-solid fa-user-gear text-secondary fs_2r"></i></div>
						<div class="p-2">
							<p class="back_topic_active">จัดการ User</p>
						</div>
					</div>
					@if (isLoadingContent)
					{
						<div class="text-center">
							<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
						</div>
					}
					<EditForm Model="@formModel" OnInvalidSubmit="OnInvalidSubmit" OnValidSubmit="Save" class="@(isLoadingContent ? "d-none":"")">
						<DataAnnotationsValidator />
						<div class="row mt-5">
							<div class="col-12">
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label text-lg-end fw-bold">รหัสพนักงาน<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<input @bind="formModel.EmployeeId" type="text" class="form-control">
										<ValidationMessage For="@(() => formModel.EmployeeId)" />
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label text-lg-end fw-bold">ชื่อ - สกุล<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<input @bind="formModel.FullName" type="text" class="form-control">
										<ValidationMessage For="@(() => formModel.FullName)" />
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label text-lg-end fw-bold">Email<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<input @bind="formModel.Email" type="email" class="form-control">
										<ValidationMessage For="@(() => formModel.Email)" />
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label text-lg-end fw-bold">Tel<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<input @bind="formModel.Tel" type="text" class="form-control">
										<ValidationMessage For="@(() => formModel.Tel)" />
									</div>
								</div>
								<div class="row mb-3">
									<label for="" class="col-sm-2 col-form-label text-lg-end fw-bold">ตำแหน่ง<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<select @bind="formModel.PositionId" class="selectpickerdefault">
											<option value="">เลือก</option>
											@if (LookUp.Positions?.Count > 0)
											{
												foreach (var item in LookUp.Positions)
												{
													<option value="@item.Id">@item.Name</option>
												}
											}
										</select>
										<ValidationMessage For="@(() => formModel.PositionId)" />
									</div>
								</div>
								<div class="row mb-3">
									<label for="" class="col-sm-2 col-form-label text-lg-end fw-bold">ระดับหน้าที่<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										@if (formModel.Id > 0 && ItemsUserRole?.Count > 0)
										{
											@* ป้องกันกรณีได้รับ role นั้นๆ แล้วมีการมอบหมายหน้าที่ต่างๆ ไว้แล้ว **ต้องเช็คเพิ่มว่าถ้ามีการมอบหมายต้องแก้ไขไม่ได้ *@
											var roleCustom = ItemsUserRole.FirstOrDefault(x => x.Id == formModel.RoleId);
											<input type="text" disabled class="form-control" value="@roleCustom?.Name">
										}
										else
										{
											<select id="Roles" class="selectpicker selectInit" data-style="select_btn_set" value="@formModel.RoleId">
												<option value="">เลือก</option>
												@if (ItemsUserRole?.Count > 0)
												{
													foreach (var item in ItemsUserRole)
													{
														<option value="@item.Id">@item.Name</option>
													}
												}
											</select>
										}
										<ValidationMessage For="@(() => formModel.RoleId)" />
									</div>
								</div>
								<div class="row mb-3">
									<label for="" class="col-sm-2 col-form-label text-lg-end fw-bold">ระดับ</label>
									<div class="col-sm-4">
										<select @bind="formModel.LevelId" class="selectpickerdefault">
											<option value="">เลือก</option>
											@if (LookUp.UserLevels?.Count > 0)
											{
												foreach (var item in LookUp.UserLevels)
												{
													<option value="@item.Id">@item.Name</option>
												}
											}
										</select>
										<ValidationMessage For="@(() => formModel.LevelId)" />
									</div>
								</div>
								<div class="row mb-3">
									<label for="" class="col-sm-2 col-form-label text-lg-end fw-bold">กิจการสาขา<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<select @bind="formModel.Master_Branch_RegionId" id="DepBranch" class="selectpickerdefault" data-style="select_btn_set" data-live-search="true">
											<option value="">เลือก</option>
											@if (LookUp.DepartmentBranch?.Count > 0)
											{
												foreach (var item in LookUp.DepartmentBranch)
												{
													<option value="@item.Id">@item.Name</option>
												}
											}
										</select>
										<ValidationMessage For="@(() => formModel.Master_Branch_RegionId)" />
									</div>
								</div>
								<div class="row mb-3">
									<label for="" class="col-sm-2 col-form-label text-lg-end fw-bold">จังหวัด<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<select @bind="formModel.ProvinceId" id="Province" class="selectpicker selectInit" data-style="select_btn_set" data-live-search="true">
											@if (LookUp.Provinces?.Count > 0)
											{
												foreach (var item in LookUp.Provinces)
												{
													<option value="@item.ProvinceID">@item.ProvinceName</option>
												}
											}
										</select>
										<ValidationMessage For="@(() => formModel.ProvinceId)" />
									</div>
								</div>
								<div class="row mb-3">
									<label for="" class="col-sm-2 col-form-label text-lg-end fw-bold">สาขา<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<select @bind="formModel.BranchId" id="Branch" class="selectpicker selectInit" data-style="select_btn_set" data-live-search="true">
											@if (LookUp.Branchs?.Count > 0)
											{
												foreach (var item in LookUp.Branchs)
												{
													<option value="@item.BranchID">@item.BranchName</option>
												}
											}
										</select>
										<ValidationMessage For="@(() => formModel.BranchId)" />
									</div>
								</div>

								<div class="row mb-3">
									<label for="" class="col-sm-2 col-form-label text-lg-end fw-bold">สถานะ<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<select @bind="formModel.Status" class="selectpickerdefault">
											<option value="1">Y</option>
											<option value="0">N</option>
										</select>
										<ValidationMessage For="@(() => formModel.Status)" />
									</div>
								</div>

							</div>
						</div>
						<div class="my-4 text-center">
							<div class="d-flex bd-highlight align-items-center justify-content-center">
								<div class="p-2 bd-highlight">
									<Button @onclick=Cancel Color="ButtonColor.Secondary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
										กลับ
									</Button>
								</div>
								<div class="p-2 bd-highlight">
									<Button Color="ButtonColor.Primary" Type="ButtonType.Submit" Disabled="@isLoading" Class="mw_6r">
										@if (isLoading)
										{
											<span><i class="fa-solid fa-circle-notch fa-spin text-white fa-lg"></i></span>
										}
										บันทึก
									</Button>
								</div>
								<div class="p-2 bd-highlight d-none">
									<Button @onclick=SentMailChangePassword Color="ButtonColor.Success" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
										SentMail
									</Button>
								</div>
							</div>
						</div>
					</EditForm>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}




