@page "/setting/pre/applicantloan"

<PageTitle>ประเภทผู้ขอสินเชื่อ</PageTitle>

<link href="/css/switch.css" rel="stylesheet" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/setting.png" width="45" /></div>
						<div class="p-2">
							<p class="back_topic">เครื่องมือ Pre-Approve > ประเภทผู้ขอสินเชื่อ</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 border-end">
							<div class="row my-4 filter_s text-end">
								<div class="col mb-2">
									<Button @onclick="(async()=> await OnShow())" Color="ButtonColor.Primary" Class="mw_6r">
										<i class="fa-solid fa-plus"></i> เพิ่มรายการ
									</Button>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="table-responsive border-top">
										<table class="table table_list">
											<thead>
												<tr>
													<th class="text-center">ประเภทผู้ขอสินเชื่อ</th>
													<th class="text-center">จัดการ</th>
													<th class="text-center">การใช้งาน</th>
												</tr>
											</thead>
											<tbody>
												@if (Items == null)
												{
													<tr class="text-center align-middle">
														<td colspan="100">
															<Spinner Class="my-2" Type="SpinnerType.Dots" Color="SpinnerColor.Secondary" />
														</td>
													</tr>
												}
												else if (Items.Count == 0)
												{
													<tr class="text-center align-middle">
														<td colspan="100">
															<em>ไม่พบข้อมูล</em>
														</td>
													</tr>
												}
												else
												{
													foreach (var item in Items)
													{
														bool status = item.Status == StatusModel.Active;

														<tr>
															<td class="">@item.Name</td>
															<td class="text-center">
																<a class="text-action" role="button" @onclick="(async()=> await OnShow(item.Id))">แก้ไข</a> /
																<a class="text-action" role="button" @onclick='(()=> ConfirmDelete(item.Id.ToString(),item.Name))'>ลบ</a>
															</td>
															<td class="text-center">
																<label class="switch">
																	<input type="checkbox" @oninput="((e)=> StatusChanged(e,item.Id))" checked="@status" />
																	<span class="slider round"></span>
																</label>
															</td>
														</tr>
													}
												}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>

	<Modal @ref="modalForm"
		   Title="ชื่อประเภท"
		   IsVerticallyCentered="true"
		   HeaderCssClass="headermodal_default">
		<BodyTemplate>
			<EditForm Model="@formModel" OnValidSubmit="Save">
				<DataAnnotationsValidator />
				<div class="row my-3">
					<div class="col-12">
						<div class="form-group row mb-3">
							<label class="col-4 col-form-label text-lg-end">ชื่อประเภท</label>
							<div class="col-7">
								<input @bind="formModel.Name" type="text" class="form-control">
								<ValidationMessage For="@(() => formModel.Name)" />
							</div>
						</div>
					</div>
				</div>
				<div class="row my-3 text-center">
					<div class="d-flex justify-content-evenly align-items-center">
						<div class="p-2">
							<Button Class="mw_6r" Color="ButtonColor.Secondary" @onclick="OnHide">ปิด</Button>
						</div>
						<div class="p-2">
							<Button Color="ButtonColor.Primary" Type="ButtonType.Submit" Disabled="@isLoading" Class="mw_6r">
								@if (isLoading)
								{
									<span><i class="fa-solid fa-circle-notch fa-spin text-white fa-lg"></i></span>
								}
								บันทึก
							</Button>
						</div>
					</div>
				</div>
			</EditForm>
		</BodyTemplate>
	</Modal>

	<ModalConfirm @ref="modalConfirm" CallbackConfirm="Delete" />
}
else
{
	<NotPermissionPage />
}


