@page "/setting/pre/calculated"

<PageTitle>ตัวแปรคำนวณ</PageTitle>

<link href="/css/switch.css" rel="stylesheet" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/setting.png" width="45" /></div>
						<div class="p-2">
							<p class="back_topic">เครื่องมือ Pre-Approve > ตัวแปรคำนวณ</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 border-end">
							<div class="row my-4 filter_s text-end">
								<div class="col mb-2">
									@* <a href="/setting/pre/calculated/form" class="btn btn-primary text-white mw_6r">
								<i class="fa-solid fa-plus"></i> เพิ่มรายการ
								</a> *@
									<Button @onclick="(async()=> await OnShow())" Color="ButtonColor.Primary" Class="mw_6r">
										<i class="fa-solid fa-plus"></i> เพิ่มรายการ
									</Button>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="table-responsive border-top">
										<table class="table table_list">
											<thead>
												<tr>
													<th class="text-center">ประเภทผู้ขอสินเชื่อ</th>
													<th class="text-center">ประเภทธุรกิจ</th>
													<th class="text-center">จัดการ</th>
													<th class="text-center">สถานะ</th>
												</tr>
											</thead>
											<tbody>
												@if (Items == null)
												{
													<tr class="text-center align-middle">
														<td colspan="100">
															<Spinner Class="my-2" Type="SpinnerType.Dots" Color="SpinnerColor.Secondary" />
														</td>
													</tr>
												}
												else if (Items.Count == 0)
												{
													<tr class="text-center align-middle">
														<td colspan="100">
															<em>ไม่พบข้อมูล</em>
														</td>
													</tr>
												}
												else
												{
													foreach (var item in Items)
													{
														bool status = item.Status == StatusModel.Active;

														<tr>
															<td class="">@item.Master_Pre_Applicant_LoanName</td>
															<td class="">@item.Master_Pre_BusinessTypeName</td>
															<td class="text-center">
																<a class="text-action" role="button" @onclick="(async()=> await OnShow(item.Id))">แก้ไข</a> /
																<a class="text-action" role="button" @onclick='(()=> ConfirmDelete(item.Id.ToString(),item.Name))'>ลบ</a> /
																<a href="/setting/pre/calculated/form/@item.Id" class="text-action" role="button">จัดการ</a>
															</td>
															<td class="text-center">
																<label class="switch">
																	<input type="checkbox" @oninput="((e)=> StatusChanged(e,item.Id))" checked="@status" />
																	<span class="slider round"></span>
																</label>
															</td>
														</tr>
													}
												}
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div>
								<PaginationBack DisplayItems="@(Items?.Count ?? 0)"
												TotalItems="@(Pager?.TotalItems ?? 0)"
												Pager="@Pager"
												OnShowOnPage="@OnSelectPagesize"
												OnSelectedPage="@OnSelectPage"
												ParameterAll="@filter?.SetParameter()">
								</PaginationBack>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<Modal @ref="modalForm"
		   Title="ตัวแปรคำนวณ"
		   OnShown="OnModalShown"
		   IsVerticallyCentered="true"
		   HeaderCssClass="headermodal_default">
		<BodyTemplate>
			<EditForm Model="@formModel" OnValidSubmit="Save">
				<DataAnnotationsValidator />
				<div class="row my-3">
					<div class="col-12">
						<div class="form-group row mb-3">
							<label class="col-4 col-form-label text-lg-end">ประเภทผู้ขอสินเชื่อ</label>
							<div class="col-7">
								<select @bind="formModel.Master_Pre_Applicant_LoanId" id="Pre_Applicant_Loan" title="เลือก" class="selectpicker selectInit" data-style="select_btn_set" data-live-search="true">
									<option>เลือก</option>
									@if (LookUp.Pre_Applicant_Loan?.Count > 0)
									{
										foreach (var item in LookUp.Pre_Applicant_Loan)
										{
											<option value="@item.Id">@item.Name</option>
										}
									}
								</select>
								<ValidationMessage For="@(() => formModel.Master_Pre_Applicant_LoanId)" />
							</div>
						</div>
						<div class="form-group row mb-3">
							<label class="col-4 col-form-label text-lg-end">ประเภทธุรกิจ</label>
							<div class="col-7">
								<select @bind="formModel.Master_Pre_BusinessTypeId" id="Pre_BusinessType" title="เลือก" class="selectpicker selectInit" data-style="select_btn_set" data-live-search="true">
									<option>เลือก</option>
									@if (LookUp.Pre_BusinessType?.Count > 0)
									{
										foreach (var item in LookUp.Pre_BusinessType)
										{
											<option value="@item.Id">@item.Name</option>
										}
									}
								</select>
								<ValidationMessage For="@(() => formModel.Master_Pre_BusinessTypeId)" />
							</div>
						</div>
						<div class="form-group row mb-3 d-flex align-items-center">
							<label class="col-4 col-form-label text-lg-end">แสดงเฉพาะคะแนนรวม</label>
							<div class="col-7">
								<div class="form-check d-flex justify-content-start">
									<input class="form-check-input" type="checkbox" checked=@(formModel.DisplayResultType == 1)
										   @onchange="(e => formModel.DisplayResultType = ((bool)e.Value) ? 1 : (int?)null)">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row my-3 text-center">
					<div class="d-flex justify-content-evenly align-items-center">
						<div class="p-2">
							<Button Class="mw_6r" Color="ButtonColor.Secondary" @onclick="OnHide">ปิด</Button>
						</div>
						<div class="p-2">
							<Button Color="ButtonColor.Primary" Type="ButtonType.Submit" Disabled="@isLoading" Class="mw_6r">
								@if (isLoading)
								{
									<Spinner Color="SpinnerColor.Light" Size="SpinnerSize.Small" />
								}
								บันทึก
							</Button>
						</div>
					</div>
				</div>
			</EditForm>
		</BodyTemplate>
	</Modal>

	<ModalConfirm @ref="modalConfirm" CallbackConfirm="Delete" />
}
else
{
	<NotPermissionPage />
}

