@page "/setting/pre/creditscore"

<PageTitle>Credit Score</PageTitle>

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/setting.png" width="45" /></div>
						<div class="p-2">
							<p class="back_topic">เครื่องมือ Pre-Approve > Credit Score</p>
						</div>
					</div>
					<div class="col-12 mt-5">
						<div class="row my-4 filter_s text-end">
							<div class="col mb-2">
								<Button @onclick="(async()=> await OnShow())" Color="ButtonColor.Primary" Class="mw_6r">
									<i class="fa-solid fa-plus"></i> เพิ่มรายการ
								</Button>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-xl">
							</div>
							<div class="col-12 col-xl-9">
								<div class="table-responsive border-top">
									<table class="table table_list">
										<thead>
											<tr>
												<th class="text-center">Level</th>
												<th class="text-center">Credit Score</th>
												<th class="text-center">Grade</th>
												@if (configModel.Value == "1")
												{
													<th class="text-center">Limit Multiplier</th>
												}
												<th class="text-center">Rate Multiplier</th>
												<th class="text-center">จัดการ</th>
											</tr>
										</thead>
										<tbody>
											@if (Items == null)
											{
												<tr class="text-center align-middle">
													<td colspan="100">
														<Spinner Class="my-2" Type="SpinnerType.Dots" Color="SpinnerColor.Secondary" />
													</td>
												</tr>
											}
											else if (Items.Count == 0)
											{
												<tr class="text-center align-middle">
													<td colspan="100">
														<em>ไม่พบข้อมูล</em>
													</td>
												</tr>
											}
											else
											{
												foreach (var item in Items)
												{
													<tr>
														<td class="text-center">@item.Level</td>
														<td class="text-center" style="background-color:@item.CreditScoreColor">@item.CreditScore</td>
														<td class="text-center">@item.Grade</td>
														@if (configModel.Value == "1")
														{
															<td class="text-center">@item.LimitMultiplier</td>
														}
														<td class="text-center">@item.RateMultiplier</td>
														<td class="text-center">
															<a class="text-action" role="button" @onclick="(async()=> await OnShow(item.Id))">แก้ไข</a> /
															<a class="text-action" role="button" @onclick='(()=> ConfirmDelete(item.Id.ToString(),item.CreditScore?.ToString()))'>ลบ</a>
														</td>
													</tr>
												}
											}
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-12 col-xl">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<Modal @ref="modalForm"
		   Title="Credit Score"
		   IsVerticallyCentered="true"
		   HeaderCssClass="headermodal_default">
		<BodyTemplate>
			<EditForm Model="@formModel" OnValidSubmit="Save">
				<DataAnnotationsValidator />
				<div class="row my-3">
					<div class="col-12">
						<div class="form-group row mb-3">
							<label class="col-4 col-form-label text-lg-end">Level</label>
							<div class="col-7">
								<input @bind="formModel.Level" type="text" class="form-control">
								<ValidationMessage For="@(() => formModel.Level)" />
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group row mb-3">
							<label class="col-4 col-form-label text-lg-end">Credit Score</label>
							<div class="col-7">
								<input @bind="formModel.CreditScore" type="text" class="form-control">
								<ValidationMessage For="@(() => formModel.CreditScore)" />
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group row mb-3">
							<label class="col-4 col-form-label text-lg-end">Grade</label>
							<div class="col-7">
								<input @bind="formModel.Grade" type="text" class="form-control">
								<ValidationMessage For="@(() => formModel.Grade)" />
							</div>
						</div>
					</div>
					@if (configModel.Value == "1")
					{
						<div class="col-12">
							<div class="form-group row mb-3">
								<label class="col-4 col-form-label text-lg-end">Limit Multiplier</label>
								<div class="col-7">
									<input @bind="formModel.LimitMultiplier" type="text" class="form-control">
									<ValidationMessage For="@(() => formModel.LimitMultiplier)" />
								</div>
							</div>
						</div>
					}
					<div class="col-12">
						<div class="form-group row mb-3">
							<label class="col-4 col-form-label text-lg-end">Rate Multiplier</label>
							<div class="col-7">
								<input @bind="formModel.RateMultiplier" type="text" class="form-control">
								<ValidationMessage For="@(() => formModel.RateMultiplier)" />
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group row mb-3">
							<label class="col-4 col-form-label text-lg-end">Color</label>
							<div class="col-7">
								<input @bind="formModel.CreditScoreColor" type="text" class="form-control">
								<ValidationMessage For="@(() => formModel.CreditScoreColor)" />
							</div>
						</div>
					</div>
				</div>
				<div class="row my-3 text-center">
					<div class="d-flex justify-content-evenly align-items-center">
						<div class="p-2">
							<Button Class="mw_6r" Color="ButtonColor.Secondary" @onclick="OnHide">ปิด</Button>
						</div>
						<div class="p-2">
							<Button Color="ButtonColor.Primary" Type="ButtonType.Submit" Disabled="@isLoading" Class="mw_6r">
								@if (isLoading)
								{
									<Spinner Color="SpinnerColor.Light" Size="SpinnerSize.Small" />
								}
								บันทึก
							</Button>
						</div>
					</div>
				</div>
			</EditForm>
		</BodyTemplate>
	</Modal>

	<ModalConfirm @ref="modalConfirm" CallbackConfirm="Delete" />
}
else
{
	<NotPermissionPage />
}

