@page "/setting/pre/creditscore"

<PageTitle>Credit Score</PageTitle>

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/setting.png" width="45" /></div>
						<div class="p-2">
							<p class="back_topic">เครื่องมือ Pre-Approve > Credit Score</p>
						</div>
					</div>
					<div class="col-12 mt-5">
						<div class="row">
							<div class="col-12 col-xl">
							</div>
							<div class="col-12 col-xl-9">
								<div class="table-responsive border-top">
									<table class="table table_list">
										<thead>
											<tr>
												<th class="text-center">Level</th>
												<th class="text-center">Credit Score</th>
												<th class="text-center">Grade</th>
												<th class="text-center">Limit Multiplier</th>
												<th class="text-center">Rate Multiplier</th>
											</tr>
										</thead>
										<tbody>
											@if (Items?.Count > 0)
											{
												foreach (var item in Items)
												{
													<tr>
														<td class="text-center">@item.Level</td>
														<td class="text-center" style="background-color:@item.CreditScoreColor">@item.CreditScore</td>
														<td class="text-center">@item.Grade</td>
														<td class="text-center">@item.LimitMultiplier</td>
														<td class="text-center">@item.RateMultiplier</td>
													</tr>
												}
											}
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-12 col-xl">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}

