@page "/setting/pre/ratetype"

<PageTitle>ประเภทอัตราดอกเบี้ย</PageTitle>

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/setting.png" width="45" /></div>
						<div class="p-2">
							<p class="back_topic">เครื่องมือ Pre-Approve > ประเภทอัตราดอกเบี้ย</p>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="">ประเภทดอกเบี้ย</th>
											<th class="">ชื่อเต็มประเภทดอกเบี้ย</th>
											<th class="">อัตราดอกเบี้ย</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<Spinner Class="my-2" Type="SpinnerType.Dots" Color="SpinnerColor.Secondary" />
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											foreach (var item in Items)
											{
												if (item.Id != Guid.Parse("11e23023-18cd-11ef-93aa-30e37aef72fb")) //ระบุ
												{
													bool status = item.Status == StatusModel.Active;

													<tr>
														<td class="">@item.Code</td>
														<td class="">@item.Name</td>
														<td class="">
															<div class="row maxw_95per">
																<div class="col-10 col-lg-5">
																	<input type="text" class="form-control"
																		   @onchange="@((ChangeEventArgs e) => item.Rate = GeneralUtils.ToDecimal(e.Value))"
																		   value="@item.Rate?.ToString(GeneralTxt.FormatDecimal3)">
																</div>
																<label class="col col-form-label">%</label>
															</div>
														</td>
													</tr>
												}
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="my-4 text-center">
						<div class="d-flex bd-highlight align-items-center justify-content-center">						
							<div class="p-2 bd-highlight">
								<Button @onclick=Save Color="ButtonColor.Primary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
									@if (isLoading)
									{
										<Spinner Color="SpinnerColor.Light" Size="SpinnerSize.Small" />
									}
									บันทึก
								</Button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}

