@page "/approvetarget"

<PageTitle>อนุมัติกลุ่มเป้าหมาย</PageTitle>

<PageTitle>อนุมัติคำขอสินเชื่อ</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><img src="/image/icon/assign_user128x.png" width="55" /></div>
						<div class="p-2">
							<p class="back_topic">อนุมัติกลุ่มลูกค้าเป้าหมาย</p>
						</div>
					</div>

					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6 my-4 filter_s">
						<div class="col mb-2">
							<label class="form-label">การแสดงผล</label>
							<select @onchange="OnSort" id="DisplaySort" class="selectpickerdefault" data-style="select_btn_set" data-live-search="true">
								<option value="@OrderByModel.ASC">เก่าสุด &#8594 ใหม่สุด</option>
								<option value="@OrderByModel.DESC">ใหม่สุด &#8594 เก่าสุด</option>
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">ค้นหาลูกค้า</label>
							<div class="input-group">
								<input @bind="filter.searchtxt" class="form-control" type="search" placeholder="">
								<span class="input-group-append ms-0">
									<button @onclick="Search" class="btn rounded-start-0 border border-start-0" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label">จังหวัด</label>
							<select value="@filter.province" id="Province" class="selectpickerdefault " data-style="select_btn_set" data-live-search="true">
								<option value="">ทั้งหมด</option>
								@if (LookUp.Provinces?.Count > 0)
								{
									foreach (var item in LookUp.Provinces)
									{
										<option value="@item.ProvinceID">@item.ProvinceName</option>
									}
								}
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">อำเภอ</label>
							<select id="Amphur" class="selectpickerdefault" data-style="select_btn_set" data-live-search="true">
								@if (LookUp.Amphurs?.Count > 0)
								{
									foreach (var item in LookUp.Amphurs)
									{
										<option value="@item.AmphurID">@item.AmphurName</option>
									}
								}
							</select>
						</div>
						<div class="col mb-2">
							<label class="form-label">ผู้ขออนุมัติ</label>
							<select id="Responsible" class="selectpicker" data-style="select_btn_set" data-live-search="true">
								<option selected>ทั้งหมด</option>
							</select>
						</div>
						<div class="col mb-2 mt-3">
							<button @onclick="Search" type="button" class="btn btn-primary text-white mw_7r w-100">
								<i class="fa fa-search fa-xs"></i> ค้นหา
							</button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">วันที่</th>
											<th class="text-center">เลขนิติบุคคล</th>
											<th class="text-center">ชื่อลูกค้า</th>
											<th class="text-center">จังหวัด</th>
											<th class="text-center">อำเภอ</th>
											<th class="text-center">ประเภทธุรกิจ</th>
											<th class="text-center">ผู้ขออนุมัติ</th>
											<th class="text-center">จัดการอนุมัติ</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											int _orderNo = Pager != null ? (Pager.PageSize * Pager.CurrentPage - 10) : 0;
											int SequenceNo = 0;
											foreach (var item in Items)
											{
												<tr>
													<td class="text-center">@GeneralUtils.getFullThaiShot(item.CreateDate)</td>
													<td class="text-center">@item.Customer?.JuristicPersonRegNumber</td>
													<td class="text-center">@item.CompanyName</td>
													<td class="text-center">@item.Customer?.ProvinceName</td>
													<td class="text-center">@item.Customer?.AmphurName</td>
													<td class="text-center">@item.Customer?.Master_BusinessTypeName</td>
													<td class="text-center">@item.AssignedUserName</td>
													<td class="text-center">
														<div class="form-check d-flex justify-content-center">
															<input class="form-check-input" type="checkbox" checked="@item.IsSelected"
																   @onchange="( (e) => OnCheckCustomer(item,e.Value))">
														</div>
													</td>
												</tr>
												SequenceNo++;
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div>
						<PaginationBack DisplayItems="@(Items?.Count ?? 0)"
										TotalItems="@(Pager?.TotalItems ?? 0)"
										Pager="@Pager"
										OnShowOnPage="@OnSelectPagesize"
										OnSelectedPage="@OnSelectPage"
										ParameterAll="@filter?.SetParameter()">
						</PaginationBack>
					</div>
					@if (Items?.Count > 0)
					{
						<div class="my-4 text-center">
							<div class="d-flex bd-highlight align-items-center justify-content-center">
								<div class="p-2 bd-highlight">
									<Button @onclick="InitShowNotApprove" Color="ButtonColor.Secondary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
										ไม่อนุมัติ
									</Button>
								</div>
								<div class="p-2 bd-highlight">
									<Button @onclick="InitShowConfirmApprove" Color="ButtonColor.Primary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
										@if (isLoading)
										{
											<span><i class="fa-solid fa-circle-notch fa-spin text-white fa-lg"></i></span>
										}
										อนุมัติ
									</Button>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>

	<ModalConfirm @ref="modalConfirmApprove" CallbackConfirm="ConfirmApprove" isLoading="isLoading" _errorMessage="@_errorMessage" />
	<ModalSuccessful @ref="modalSuccessfulApprove" />
	<ModalNotApprove @ref="modalNotApprove" CallbackConfirm="NotApproveModal" _errorMessage="@_errorMessage" />
}
else
{
	<NotPermissionPage />
}


