@page "/loans/permission"

<PageTitle>ระบบสิทธิ์การเข้าถึง</PageTitle>

<link href="/css/tree_level.css?v=@(_appSet.Value.Version)" rel="stylesheet" />

<MessageError errorMessage="@_errorMessage" />

<link href="/css/switch.css" rel="stylesheet" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-xl-8 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><i class="fa-solid fa-user-gear text-secondary fs_2r"></i></div>
						<div class="p-2">
							<p class="back_topic_active">ระบบสิทธิ์การเข้าถึง</p>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-auto mt-3 mb-1 filter_s">
						<div class="col text-end">
							<Button @onclick='(()=> _Navs.NavigateTo("/loans/permission/create"))' Color="ButtonColor.Primary" Class="mw_6r">
								<i class="fa-solid fa-plus"></i> เพิ่มรายการ
							</Button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">ชื่อหน้าที่</th>
											<th class="text-center">รายละเอียดหน้าที่</th>
											<th class="text-center">การเข้าถึง</th>
											<th class="text-center">อนุญาติให้แก้ไข</th>
											<th class="text-center">จัดการ</th>
										</tr>
									</thead>
									<tbody>
										@if (Items == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (Items.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											foreach (var item in Items)
											{
												<tr>
													<td class="text-center">@item.Name</td>
													<td class="text-center">@item.Description</td>
													<td class="text-center">
														<div @onclick="(async()=> await OnAccess(item.Id))" role="button">
															@if (item.IsAccess)
															{
																<img src="/image/icon/bookopen_active.png" width="25" />
															}
															else
															{
																<img src="/image/icon/bookopen.png" width="25" />
															}
														</div>
													</td>
													<td class="text-center">
														<label class="switch">
															<input type="checkbox" @oninput="((e)=> ModifyRoleChanged(e,item.Id))" checked="@item.IsModify" />
															<span class="slider round"></span>
														</label>
													</td>
													<td class="text-center">
														<a href="/loans/permission/update/@item.Id">แก้ไข</a> /
														<a class="text-action" role="button" @onclick='(()=> ConfirmDelete(item.Id.ToString(),item.Name))'>ลบ</a>
													</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-xl-4 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3">
						<div class="flex-grow-1 p-2">
							<p class="back_topic_active">รายการเมนู</p>
						</div>
						<div class="p-2 text-end">
							@if (formModel != null)
							{
								<Button @onclick=Save Color="ButtonColor.Primary" Disabled="@isLoading" Class="mw_6r">
									บันทึก
								</Button>
							}
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12 overflow-y-auto" style="max-height:35rem;">
							<div>
								<ul class="tree">
									@if (LookUp?.MenuItem?.Count > 0 && formModel != null)
									{
										foreach (var item in LookUp.MenuItem.Where(x => x.ParentNumber == 0))
										{
											User_PermissionCustom _permission = formModel.User_Permissions?.FirstOrDefault(x => x.MenuNumber == item.MenuNumber) ?? new User_PermissionCustom();

											var menuLevel2 = MenuItem.Where(x => x.ParentNumber == item.MenuNumber).ToList();
											if (menuLevel2.Count == 0)
											{
												<li class="mb-1">
													<a>
														<input class="cb_circle" type="checkbox" checked=@_permission.IsView
															   id="@item.MenuNumber"
															   value="@item.MenuNumber" @onchange="(e =>  CheckChanged(e.Value,item.MenuNumber,1))" />

														<span class="ms-2">	@item.Name</span>
													</a>
												</li>
											}
											else
											{
												<li class="mb-1">
													<a>
														<input class="cb_circle" type="checkbox" checked=@_permission.IsView
															   id="@item.MenuNumber"
															   value="@item.MenuNumber" @onchange="(e =>  CheckChanged(e.Value,item.MenuNumber,1))" />

														<span class="ms-2">	@item.Name</span>
													</a>
													<ul class="ul_dot_none">
														@foreach (var iteml2 in menuLevel2)
														{
															User_PermissionCustom _permission2 = formModel.User_Permissions?.FirstOrDefault(x => x.MenuNumber == iteml2.MenuNumber) ?? new User_PermissionCustom();

															var menuLevel3 = MenuItem.Where(x => x.ParentNumber == iteml2.MenuNumber).ToList();
															if (menuLevel3.Count == 0)
															{
																<li class="mb-1">
																	<a>
																		<input class="cb_circle" type="checkbox" checked=@_permission2.IsView
																			   id="@iteml2.MenuNumber"
																			   value="@iteml2.MenuNumber" @onchange="(e =>  CheckChanged(e.Value,iteml2.MenuNumber,1))" />

																		<span class="ms-2">	@iteml2.Name</span>
																	</a>
																</li>
															}
															else
															{
																<li class="mb-1">
																	<a>
																		<input class="cb_circle" type="checkbox" checked=@_permission2.IsView
																			   id="@iteml2.MenuNumber"
																			   value="@iteml2.MenuNumber" @onchange="(e =>  CheckChanged(e.Value,iteml2.MenuNumber,1))" />

																		<span class="ms-2">	@iteml2.Name</span>
																	</a>
																	<ul class="ul_dot_none">
																		@foreach (var iteml3 in menuLevel3)
																		{
																			User_PermissionCustom _permission3 = formModel.User_Permissions?.FirstOrDefault(x => x.MenuNumber == iteml3.MenuNumber) ?? new User_PermissionCustom();

																			<li class="mb-1">
																				<a>
																					<input class="cb_circle" type="checkbox" checked=@_permission3.IsView
																						   id="@iteml3.MenuNumber"
																						   value="@iteml3.MenuNumber" @onchange="(e =>  CheckChanged(e.Value,iteml3.MenuNumber,1))" />

																					<span class="ms-2">	@iteml3.Name</span>
																				</a>
																			</li>
																		}
																	</ul>
																</li>
															}
														}
													</ul>
												</li>
											}

										}
									}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ModalConfirm @ref="modalConfirm" CallbackConfirm="Delete" />
}
else
{
	<NotPermissionPage />
}

