@page "/loans/user/uploadfile"

<PageTitle>ระบบผู้ใช้งาน</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><i class="fa-solid fa-user-gear text-secondary fs_2r"></i></div>
						<div class="p-2">
							<p class="back_topic_active">ระบบผู้ใช้งาน(แนบไฟล์)</p>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-12">
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label text-lg-end fw-bold">เลือกไฟล์<span class="text-danger">*</span></label>
								<div class="col-sm-4">
									@if (!bClearInputFile)
									{
										<InputFile accept=".xlsx" OnChange="OnChooseFile" />
									}
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list">
									<thead>
										<tr>
											<th class="text-center">รหัสพนักงาน</th>
											<th class="text-center">ชื่อ-สกุล</th>
											<th class="text-center">Email</th>
											<th class="text-center">ตำแหน่ง</th>
											<th class="text-center">ระดับ</th>
											<th class="text-center">ระดับหน้าที่</th>
											<th class="text-center">ตรวจสอบ</th>
										</tr>
									</thead>
									<tbody>
										@if (UserList == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
												</td>
											</tr>
										}
										else if (UserList.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											foreach (var item in UserList)
											{
												<tr>
													<td class="text-center">@item.EmployeeId</td>
													<td class="">@item.FullName</td>
													<td class="text-center">@item.Email</td>
													<td class="text-center">@item.PositionId</td>
													<td class="text-center">@item.LevelId</td>
													<td class="text-center">@item.RoleId</td>
													<td class="">
														@if (item.IsValidate == true)
														{
															<p class="text-success text-center">ผ่าน</p>
														}
														else
														{
															if (item.ValidateError?.Count > 0)
															{
																<ul class="text-danger mb-0">
																	@foreach (var item_error in item.ValidateError)
																	{
																		<li>@item_error</li>
																	}
																</ul>
															}
														}
													</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="my-4 text-center">
						<div class="d-flex bd-highlight align-items-center justify-content-center">
							<div class="p-2 bd-highlight">
								<Button Color="ButtonColor.Primary" @onclick=Save Type="ButtonType.Submit" Disabled="@isLoading" Class="mw_6r">
									@if (isLoading)
									{
										<span><i class="fa-solid fa-circle-notch fa-spin text-white-50 fa-lg"></i></span>
									}
									ยืนยันบันทึก
								</Button>
							</div>
						</div>
						<small class="text-secondary">*ระบบจะนำเข้าเฉพาะรายการที่ผ่านการตรวจสอบ</small>
					</div>
				</div>
			</div>
		</div>
	</div>

	<Modal @ref="modalResult"
		   Title=""
		   IsVerticallyCentered="true"
		   OnHidden="OnHiddenResult"
		   HeaderCssClass="headermodal_default">
		<BodyTemplate>
			<div class="row mb-4 text-center">
				<i class="fa-solid fa-circle-check fs_5r text-primary"></i>
			</div>
			<div class="row mb-4 text-center">
				<h4 class="fw-bold mb-3">ผลการบันทึก ทั้งหมด @resultImport.Count()</h4>
				<h5 class="text-success">สำเร็จ @resultImport.Count(x=> x.Success)</h5>
				<h5 class="text-danger ms-2">ไม่สำเร็จ  @resultImport.Count(x=> !x.Success)</h5>
			</div>
			<div class="row my-3 text-center">
				<div class="d-flex justify-content-evenly align-items-center">
					<div class="p-2">
						<Button Class="mw_6r" Color="ButtonColor.Primary" @onclick="OnHideResult">เสร็จสิ้น</Button>
					</div>
				</div>
			</div>
		</BodyTemplate>
	</Modal>
}
else
{
	<NotPermissionPage />
}
