@page "/setting/yieldchain/uploadchain"

<PageTitle>แนบไฟล์ห่วงโซ่</PageTitle>

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><i class="fa-solid fa-user-gear text-secondary fs_2r"></i></div>
						<div class="p-2">
							<p class="back_topic">ตั้งค่าผลผลิตและห่วงโซ่ > (แนบไฟล์ห่วงโซ่)</p>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="row mb-3">
								<div class="col-12 col-sm-1"></div>
								<div class="col-12 col-sm-10">
									<div class=" dropzone @dropClass rounded">
										<div class="drag-image h_10r mb-2">
											@if (ChainList != null && ChainList.Count > 0 && _fileName != null)
											{
												<p>@_fileName</p>
											}
											else
											{
												<p>ลากไฟล์ประเภท CSV หรือ</p>
												<Button Style="background-color: #1378D5;color:white;"><i class="fa-solid fa-upload"></i> นำเข้าไฟล์</Button>
											}
										</div>
										<InputFile @key=@(_inputFileId) OnChange="@OnChooseFile"
												   accept=".xlsx, .xls, .csv"
												   @ondragenter="HandleDragEnter"
												   @ondragleave="HandleDragLeave">Browse File</InputFile>
									</div>
								</div>
								<div class="col-12 col-sm-1"></div>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-12">
							<div class="table-responsive border-top">
								<table class="table table_list table-bordered text-nowrap">
									<thead class="table-primary">
										<tr>
											<th class="text-center">ตรวจสอบ</th>
											@foreach (var item in header_list_key)
											{
												<th class="text-center">@item</th>
											}
										</tr>
									</thead>
									<tbody>
										@if (ChainList == null)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<Spinner Class="my-2" Type="SpinnerType.Dots" Color="SpinnerColor.Secondary" />
												</td>
											</tr>
										}
										else if (ChainList.Count == 0)
										{
											<tr class="text-center align-middle">
												<td colspan="100">
													<em>ไม่พบข้อมูล</em>
												</td>
											</tr>
										}
										else
										{
											foreach (var item in ChainList)
											{
												<tr style="@(item.IsValidate == false ? "background-color: #fff5f6;" : "")">
													<td class="">
														@if (item.IsValidate == true)
														{
															<p class="text-success text-center">ผ่าน</p>
														}
														else
														{
															if (item.ValidateError?.Count > 0)
															{
																<ul class="text-danger mb-0">
																	@foreach (var item_error in item.ValidateError)
																	{
																		<li>@item_error</li>
																	}
																</ul>
															}
														}
													</td>
													<td class="text-center">@item.Name</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="my-4 text-center">
						<div class="d-flex bd-highlight align-items-center justify-content-center">
							<div class="p-2 bd-highlight">
								<Button @onclick=Cancel Color="ButtonColor.Secondary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
									กลับ
								</Button>
							</div>
							@if (ChainList?.Where(x => x.IsValidate == true).Count() > 0)
							{
								<div class="p-2 bd-highlight">
									<Button Color="ButtonColor.Primary" @onclick=Save Type="ButtonType.Submit" Disabled="@isLoading" Class="mw_6r">
										@if (isLoading)
										{
											<span><i class="fa-solid fa-circle-notch fa-spin text-white-50 fa-lg"></i></span>
										}
										ยืนยันบันทึก
									</Button>
								</div>
							}
						</div>
						<small class="text-secondary">*ระบบจะนำเข้าเฉพาะรายการที่ผ่านการตรวจสอบ</small>
					</div>
				</div>
			</div>
		</div>
	</div>

	<Modal @ref="modalResult"
		   Title=""
		   IsVerticallyCentered="true"
		   OnHidden="OnHiddenResult"
		   HeaderCssClass="headermodal_default">
		<BodyTemplate>
			<div class="row mb-4 text-center">
				<i class="fa-solid fa-circle-check fs_5r text-primary"></i>
			</div>
			<div class="row mb-4 text-center">
				<h4 class="fw-bold mb-3">ผลการบันทึก ทั้งหมด @resultImport.Count()</h4>
				<h5 class="text-success">สำเร็จ @resultImport.Count(x => x.Success)</h5>
				<h5 class="text-danger ms-2">ไม่สำเร็จ  @resultImport.Count(x => !x.Success)</h5>
			</div>
			<div class="row my-3 text-center">
				<div class="d-flex justify-content-evenly align-items-center">
					<div class="p-2">
						<Button Class="mw_6r" Color="ButtonColor.Primary" @onclick="OnHideResult">เสร็จสิ้น</Button>
					</div>
				</div>
			</div>
		</BodyTemplate>
	</Modal>
}
else
{
	<NotPermissionPage />
}





