@page "/setting/processsales/update/{id:guid}"

<PageTitle>ตั้งค่ากระบวนการขาย</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content">
					<div class="d-flex flex-row align-items-center mb-2 border-bottom">
						<div class="p-2">
							<a href="/setting/processsales"><img src="/image/icon/assign_user128x.png" width="55" /></a>
						</div>
						<div class="p-2">
							<p class="back_topic">ตั้งค่า <span class="back_topic_active">กระบวนการขาย</span></p>
						</div>
					</div>
					@if (formModel.Id == Guid.Empty)
					{
						<div class="text-center">
							<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
						</div>
					}
					else
					{
						var saleSections = formModel.ProcessSale_Sections?.Where(x => x.Status == StatusModel.Active).ToList() ?? new();

						<div class="px-0">
							<div class="row mt-3">
								<div class="col-12">
									<div class="bg-header text-white rounded-1 p-2">
										<h6 class="px-2">@formModel.Name</h6>
									</div>
								</div>
							</div>
							<div class="row mt-3">
								@if (saleSections.Count > 0)
								{
									foreach (var section in saleSections)
									{
										int index = 1;

										var saleItems = section.ProcessSale_Section_Items?.Where(x => x.Status == StatusModel.Active).ToList() ?? new();
										string sectionName = $"Section {section.SequenceNo} Of {saleSections.Count()}";

										<div class="col-12">
											<div class="row">
												<div class="col-12 col-xl-10 mt-3">
													<div class="row mb-2">
														<div class="col-12">
															<p class="d-inline text-bg-header rounded-1 p-2">@sectionName</p>
														</div>
													</div>
													<div class="row mb-2">
														<div class="col-12">
															<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
																<div class="row my-2">
																	<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
																		<div class="row mb-2">
																			<div class="col-12">
																				<input @bind="section.Name" type="text" class="form-control" placeholder="ชื่อส่วน">
																			</div>
																		</div>
																	</div>
																	<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
																	</div>
																</div>
																<div class="row">
																	<div class="col-12 d-flex justify-content-end">
																		<ul class="nav">
																			@if (saleSections.Count > 1)
																			{
																				<li class="nav-item">
																					<Button @onclick="async () => await ConfirmDeleteSection(section.Id.ToString(),section.SequenceNo.ToString())" Color="ButtonColor.None" Type="ButtonType.Button" Class="">
																						<i class="fa-regular fa-trash-can fa-lg text-secondary-emphasis"></i>
																					</Button>
																				</li>
																			}
																			<li class="nav-item">
																				<div class="vr d-none d-lg-flex h-100 mx-lg-2"></div>
																				<hr class="d-lg-none text-white-50">
																			</li>
																			<li class="nav-item">
																				<div class="d-flex align-items-center">
																					<small class="text-secondary-emphasis">แสดงตลอด</small>
																					<div class="form-switch form-check ms-2">
																						<input type="checkbox" class="form-check-input"
																							   @onchange="async (e) => await SectionShowAlwaysChange(e,section.Id)" checked="@(section.ShowAlways == 1 ? true : false)">
																					</div>
																				</div>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												@foreach (var item in saleItems)
												{
													<div class="col-12 col-xl-10">
														<div class="bg-secondary bg-opacity-10 rounded p-3 mb-2">
															<div class="row my-2">
																<div class="col-12 col-sm-8 col-xl-6 mb-2 mb-xl-0">
																	<div class="row">
																		<div class="col-12">
																			<input @bind="item.ItemLabel" type="text" class="form-control" placeholder="หัวข้อ">
																		</div>
																	</div>
																</div>
																<div class="col-12 col-sm-4 col-xl-3 mb-2 mb-xl-0">
																	<select @onchange="async (e) => await OnItemTypes(e,section.Id,item.Id)" class="form-select" value="@item.ItemType">
																		<option value="@FieldTypes.ShortAnswer">@PropertiesMain.PerFieldType(FieldTypes.ShortAnswer).Name</option>
																		<option value="@FieldTypes.TextArea">@PropertiesMain.PerFieldType(FieldTypes.TextArea).Name</option>
																		<option value="@FieldTypes.Multiplechoice">@PropertiesMain.PerFieldType(FieldTypes.Multiplechoice).Name</option>
																		<option value="@FieldTypes.Dropdown">@PropertiesMain.PerFieldType(FieldTypes.Dropdown).Name</option>
																		<option value="@FieldTypes.DropdownMaster">@PropertiesMain.PerFieldType(FieldTypes.DropdownMaster).Name</option>
																		<option value="@FieldTypes.Fileupload">@PropertiesMain.PerFieldType(FieldTypes.Fileupload).Name</option>
																		<option value="@FieldTypes.Date">@PropertiesMain.PerFieldType(FieldTypes.Date).Name</option>
																		<option value="@FieldTypes.Time">@PropertiesMain.PerFieldType(FieldTypes.Time).Name</option>
																	</select>
																</div>
															</div>
															@if (item.ItemType == FieldTypes.ShortAnswer)
															{
																<div class="row mb-2">
																	<div class="col-12 col-sm-8 col-xl-6">
																		<input type="text" class="form-control" placeholder="text" disabled>
																	</div>
																</div>
															}
															else if (item.ItemType == FieldTypes.TextArea)
															{
																<div class="row mb-2">
																	<div class="col-12 col-sm-8 col-xl-6">
																		<textarea class="form-control" rows="3" disabled></textarea>
																	</div>
																</div>
															}
															else if (item.ItemType == FieldTypes.Multiplechoice)
															{
																var itemOptions = item.ProcessSale_Section_ItemOptions?.Where(x => x.Status == StatusModel.Active).ToList() ?? new();

																if (itemOptions.Count > 0)
																{
																	int indexType = 1;
																	foreach (var item_option in itemOptions)
																	{
																		<div class="row mb-2">
																			<div class="col-12 col-sm-8 col-xl-6">
																				<input @bind="item_option.OptionLabel" type="text" class="form-control" placeholder="ตัวเลือก @indexType">
																			</div>
																			<div class="col-12 col-sm-3 text-end text-sm-start mt-2 mt-sm-0">
																				@if (itemOptions.Count > 1)
																				{
																					<Button @onclick="async () => await RemoveSectionItemOption(section.Id,item.Id,item_option.Id)" Color="ButtonColor.Danger" Type="ButtonType.Button" Class="">
																						<i class="fa-regular fa-trash-can"></i>
																					</Button>
																				}
																				@if (itemOptions.Count == indexType)
																				{
																					<Button @onclick="async () => await InsertSectionItemOption(section.Id,item.Id)" Color="ButtonColor.Primary" Type="ButtonType.Button" Class="ms-2">
																						<i class="fa-solid fa-circle-plus"></i>
																					</Button>
																				}
																			</div>
																		</div>
																		indexType++;
																	}
																}
															}
															else if (item.ItemType == FieldTypes.Dropdown)
															{
																var dropdownSection = saleSections.Where(x => x.Status == StatusModel.Active && x.Id != section.Id).ToList() ?? new();

																var itemOptions = item.ProcessSale_Section_ItemOptions?.Where(x => x.Status == StatusModel.Active).ToList() ?? new();

																if (itemOptions.Count > 0)
																{
																	int indexType = 1;
																	foreach (var item_option in itemOptions)
																	{
																		<div class="row mb-2">
																			<div class="col-12 col-sm-8 col-xl-6">
																				<input @bind="item_option.OptionLabel" type="text" class="form-control" placeholder="ตัวเลือก @indexType">
																			</div>
																			<div class="col-12  col-sm-4 col-xl-3">
																				<select @bind="item_option.ShowSectionId" id="dropdown_sec_@item_option.Id" class="selectpicker dropdownsection" data-style="select_btn_set" data-live-search="true">
																					<option value="">เลือก</option>
																					@foreach (var item_sec_drop in dropdownSection)
																					{
																						<option selected="@(item_sec_drop.Id==item_option.ShowSectionId)" value="@item_sec_drop.Id">@item_sec_drop.Name</option>
																					}
																				</select>
																			</div>
																			<div class="col-12 col-sm-3 text-end text-sm-start mt-2 mt-sm-0">
																				@if (itemOptions.Count > 1)
																				{
																					<Button @onclick="async () => await RemoveSectionItemOption(section.Id,item.Id,item_option.Id)" Color="ButtonColor.Danger" Type="ButtonType.Button" Class="">
																						<i class="fa-regular fa-trash-can"></i>
																					</Button>
																				}
																				@if (itemOptions.Count == indexType)
																				{
																					<Button @onclick="async () => await InsertSectionItemOption(section.Id,item.Id)" Color="ButtonColor.Primary" Type="ButtonType.Button" Class="ms-2">
																						<i class="fa-solid fa-circle-plus"></i>
																					</Button>
																				}
																			</div>
																		</div>
																		indexType++;
																	}
																}
															}
															else if (item.ItemType == FieldTypes.DropdownMaster)
															{
																var itemOptions = item.ProcessSale_Section_ItemOptions?.Where(x => x.Status == StatusModel.Active).ToList() ?? new();

																if (itemOptions.Count > 0)
																{
																	int indexType = 1;
																	foreach (var item_option in itemOptions)
																	{
																		<div class="row mb-2">
																			<div class="col-12 col-sm-8 col-xl-6">
																				<select @bind="item_option.Master_ListId" class="selectpicker" data-style="select_btn_set" data-live-search="true">
																					<option value="">เลือก</option>
																					@if (LookUp.MasterList?.Count > 0)
																					{
																						foreach (var item_master in LookUp.MasterList)
																						{
																							<option value="@item_master.Id">@item_master.Name</option>
																						}
																					}
																				</select>
																			</div>
																		</div>
																		indexType++;
																	}
																}
															}
															else if (item.ItemType == FieldTypes.Fileupload)
															{
																<div class="row mb-2">
																	<div class="col-12 col-sm-8 col-xl-6">
																		<input type="file" class="form-control" disabled>
																	</div>
																</div>
															}
															else if (item.ItemType == FieldTypes.Date)
															{
																<div class="row mb-2">
																	<div class="col-12 col-sm-8 col-xl-6">
																		<input type="date" class="form-control" disabled>
																	</div>
																</div>
															}
															else if (item.ItemType == FieldTypes.Time)
															{
																<div class="row mb-2">
																	<div class="col-12 col-sm-8 col-xl-6">
																		<input type="time" class="form-control" disabled>
																	</div>
																</div>
															}
															<div class="row">
																<div class="col-12 d-flex justify-content-end">
																	<ul class="nav">
																		<li class="nav-item">
																			<Button @onclick="async () => await CopySectionItem(section.Id,item.Id)" Color="ButtonColor.None" Type="ButtonType.Button" Class="">
																				<i class="fa-regular fa-copy fa-lg text-secondary-emphasis"></i>
																			</Button>
																		</li>
																		@if (saleItems?.Count > 1)
																		{
																			<li class="nav-item">
																				<Button @onclick="async () => await RemoveSectionItem(section.Id,item.Id)" Color="ButtonColor.None" Type="ButtonType.Button" Class="">
																					<i class="fa-regular fa-trash-can fa-lg text-secondary-emphasis"></i>
																				</Button>
																			</li>
																		}
																		<li class="nav-item">
																			<div class="vr d-none d-lg-flex h-100 mx-lg-2"></div>
																			<hr class="d-lg-none text-white-50">
																		</li>
																		<li class="nav-item">
																			<div class="d-flex align-items-center">
																				<small class="text-secondary-emphasis">จำเป็น</small>
																				<div class="form-switch form-check ms-2">
																					<input type="checkbox" class="form-check-input" @bind="item.Required">
																				</div>
																			</div>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="col-12 col-xl-2 d-flex align-items-center">
														<div class="mb-2 text-end text-xl-start ">
															<Button @onclick="async () => await InsertSectionItem(section.Id,item.SequenceNo)" Color="ButtonColor.Secondary" Type="ButtonType.Button" Class="me-2">
																<i class="fa-solid fa-circle-plus"></i>
															</Button>

															@if (saleItems?.Count == index)
															{
																<Button @onclick="async () => await InsertSection(section.SequenceNo)" Color="ButtonColor.Secondary" Type="ButtonType.Button" Class="">
																	<i class="fa-solid fa-bars-progress"></i>
																</Button>
															}
														</div>
													</div>
													index++;
												}
											</div>
										</div>
									}
								}
							</div>
							<div class="my-4 text-center">
								<div class="d-flex bd-highlight align-items-center justify-content-center">
									<div class="p-2 bd-highlight">
										<Button @onclick=Cancel Color="ButtonColor.Secondary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
											กลับ
										</Button>
									</div>
									<div class="p-2 bd-highlight">
										<Button @onclick=Save Color="ButtonColor.Primary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
											@if (isLoading)
											{
												<span><i class="fa-solid fa-circle-notch fa-spin text-white fa-lg"></i></span>
											}
											บันทึก
										</Button>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>

	<ModalConfirm @ref="modalConfirmDeleteSection" CallbackConfirm="DeleteSection" />
}
else
{
	<NotPermissionPage />
}