@page "/rm/user/create"
@page "/rm/user/update/{id:int}"

<PageTitle>จัดการ User</PageTitle>

<MessageError errorMessage="@_errorMessage" />

@if (_permission.IsView)
{
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 my-2">
				<div class="box_content mh_40r">
					<div class="d-flex flex-row align-items-center mb-3 border-bottom">
						<div class="p-2"><i class="fa-solid fa-user-gear text-secondary fs_2r"></i></div>
						<div class="p-2">
							<p class="back_topic_active">จัดการ User</p>
						</div>
					</div>
					@if (isLoadingContent)
					{
						<div class="text-center">
							<i class="fa-solid fa-circle-notch fa-spin text-black-50 fa-xl my-2"></i>
						</div>
					}
					<EditForm Model="@formModel" OnInvalidSubmit="OnInvalidSubmit" OnValidSubmit="Save" class="@(isLoadingContent ? "d-none":"")">
						<DataAnnotationsValidator />
						<div class="row mt-5">
							<div class="col-12">
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label text-lg-end fw-bold">รหัสพนักงาน<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<input @bind="formModel.EmployeeId" type="text" class="form-control">
										<ValidationMessage For="@(() => formModel.EmployeeId)" />
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label text-lg-end fw-bold">ชื่อ - สกุล<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<input @bind="formModel.FullName" type="text" class="form-control">
										<ValidationMessage For="@(() => formModel.FullName)" />
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label text-lg-end fw-bold">Email<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<input @bind="formModel.Email" type="email" class="form-control">
										<ValidationMessage For="@(() => formModel.Email)" />
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label text-lg-end fw-bold">Tel<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<input @bind="formModel.Tel" type="text" class="form-control">
										<ValidationMessage For="@(() => formModel.Tel)" />
									</div>
								</div>
								<div class="row mb-3">
									<label for="" class="col-sm-2 col-form-label text-lg-end fw-bold">ตำแหน่ง<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<select @bind="formModel.PositionId" class="form-select">
											<option value="">เลือก</option>
											@if (LookUp.Positions?.Count > 0)
											{
												foreach (var item in LookUp.Positions)
												{
													<option value="@item.Id">@item.Name</option>
												}
											}
										</select>
										<ValidationMessage For="@(() => formModel.PositionId)" />
									</div>
								</div>
								<div class="row mb-3">
									<label for="" class="col-sm-2 col-form-label text-lg-end fw-bold">ฝ่าย<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										@* <select @bind="formModel.DivBranchId" class="form-select">
											<option value="">เลือก</option>
											@if (LookUp.DivisionBranch?.Count > 0)
											{
												foreach (var item in LookUp.DivisionBranch)
												{
													<option value="@item.Id">@item.Name</option>
												}
											}
										</select>
										<ValidationMessage For="@(() => formModel.DivBranchId)" /> *@
									</div>
								</div>
								<div class="row mb-3">
									<label for="" class="col-sm-2 col-form-label text-lg-end fw-bold">ระดับ<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<select @bind="formModel.LevelId" class="form-select">
											<option value="">เลือก</option>
											@if (LookUp.UserLevels?.Count > 0)
											{
												foreach (var item in LookUp.UserLevels)
												{
													<option value="@item.Id">@item.Name</option>
												}
											}
										</select>
										<ValidationMessage For="@(() => formModel.LevelId)" />
									</div>
								</div>
								<div class="row mb-3">
									<label for="" class="col-sm-2 col-form-label text-lg-end fw-bold">สาขา<span class="text-danger">*</span></label>
									<div class="col-sm-4">
										<select @bind="formModel.BranchId" class="form-select">
											<option value="">เลือก</option>
											@if (LookUp.Branchs?.Count > 0)
											{
												foreach (var item in LookUp.Branchs)
												{
													<option value="@item.Id">@item.Name</option>
												}
											}
										</select>
										<ValidationMessage For="@(() => formModel.BranchId)" />
									</div>
								</div>
							</div>
						</div>
						<div class="my-4 text-center">
							<div class="d-flex bd-highlight align-items-center justify-content-center">
								<div class="p-2 bd-highlight">
									<Button @onclick=Cancel Color="ButtonColor.Secondary" Type="ButtonType.Button" Disabled="@isLoading" Class="mw_6r">
										กลับ
									</Button>
								</div>
								<div class="p-2 bd-highlight">
									<Button Color="ButtonColor.Primary" Type="ButtonType.Submit" Disabled="@isLoading" Class="mw_6r">
										@if (isLoading)
										{
											<span><i class="fa-solid fa-circle-notch fa-spin text-white fa-lg"></i></span>
										}
										บันทึก
									</Button>
								</div>
							</div>
						</div>
					</EditForm>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<NotPermissionPage />
}




